[2013-09-18 20:34] mtodd opened #2 "No reindexing indicator"
If I switch branches in `github/github`, switch to Atom, hit `meta+t`, and type the name of a file that is new in the branch, I will not see it until many seconds later. There is no indication that reindexing is happening, I just have to sit there knowing that reindexing _is_ happening.

I would love it if there was at least some indication that the results is probably out of date and is being upd

[2013-09-18 20:35] mtodd opened #3 "Indexing is slow"
Indexing takes almost 10s (it might be closer to 5s, I don't have an exact time) for `github/github`. I know there's a lot of files and `vendor/cache/` is a big source of slowness, but it essentially blocks all finding until it's indexed at least once and after the FS has changed, it has to reindex everything instead of updating the index with the new addition.

Would love to see some speedup here

[2013-09-26 22:36] #2 closed, assigned to nobody

[2013-12-05 20:25] garand opened #4 "Should be able to open ignored files"
Currently the fuzzy finder doesn't display ignored files. This is unexpected behavior coming from ST3. One use case that I have, many projects I work on have local configuration files that are not a part of the repo, but I do need to edit them on occasion. Also, when working on the atom source I need to manually open anything inside of `node_modules`.

[2013-12-05 20:32] garand opened #5 "Preview selected files in list"
![filepreview](https://f.cloud.github.com/assets/82437/1686763/05a6fd36-5dec-11e3-8050-dcb67400d621.gif)

In ST3, when filtering through the files in their fuzzy finder, the editor displays the contents of the file temporarily so you can peek into them without opening them. This would be an awesome feature to have as it can be helpful when trying to nail down exactly which file contains what you'r

[2013-12-09 22:50] gjtorikian opened #6 "Cmd-T can be used to cancel indexing"
If you hit meta-t, the file indexing kicks off. But if hit meta-t again to close the fuzzy finder, then hit it again, it'll start reindexing.

Expected: once Atom launches, indexing occurs. If the file finder is opened, you can show me the progress, that's cool. If I close the file finder and reopen it, don't cancel the indexing.

Here's a video detailing the problem: https://www.dropbox.com/s/1fy

[2013-12-10 01:36] #6 closed, assigned to kevinsawicki

[2013-12-10 18:18] #4 closed, assigned to nobody

[2014-01-16 19:25] BinaryMuse opened #8 "fizzy-finder should prefer exact matches"
This is actually probably a larger issue of matching preference, but one specific instance is when a file matches by exact filename. Here is an example when a file matched exactly, but a different file with additional text at the end of the non-extension part of the filename was listed ahead of it.

![Screenshot](https://www.evernote.com/shard/s23/sh/94a44058-8518-463f-bbd8-af92c00570c9/156b5ad05b

[2014-01-17 19:24] #3 closed, assigned to nobody

[2014-01-17 22:50] #8 closed, assigned to nobody

[2014-02-26 23:58] mneuhaus opened #9 "Configuration for the Ignored Directories/Paths"
Currently it seems, that there's no way to configure which directories are ignored for searching, which results in some problems with composer projects for example, where the directory containing most of the code is added to .gitignore, because it's managed by the package manager.

Maybe a toggle to use VCS ignore settings and a general Textfield like this:

![](http://dl.dropbox.com/u/314491/Scre

[2014-02-27 00:01] michaelhelmick opened #10 "More lenient queries"
I submitted feedback in Atom.app, but I ultimately thought it would be a good idea to post it here.

![searching](https://f.cloud.github.com/assets/352270/2277431/9d0f7c84-9f41-11e3-90ec-5909ce52640e.gif)

As you can see my query `lass soci` and `lass fil soc` both returned `social.py` in the results which is nested in `lassie/filters/social.py`

In atom, if I wanted to use Fuzzy Finder to find `s

[2014-02-27 14:56] DouweM opened #11 "Highlight matched substring in results"
Like in SublimeText:
![](http://cdn.tutsplus.com/net/uploads/legacy/1038_sublime/activate.slim.jpg)

This would also be useful in https://github.com/atom/command-palette.

[2014-02-27 20:06] wylieconlon opened #12 "Cannot type the letter J when I have a key sequence starting with J"
When I have this key sequence set in my keymap, I cannot type the letter J in the Cmd-T prompt:

[code]

I can still type the letter K in the prompt.

I don't think vim-mode is the problem, because when I disabled vim-mode this was still an issue. It was only removed when I commented this config.

[2014-02-27 20:14] #12 closed, assigned to nobody

[2014-02-28 00:08] #10 closed, assigned to nobody

[2014-02-28 08:29] cfabianski opened #14 "Search for methods in file"
It helps a lot to select the method you are looking for in the search panel.

![capture_d_ecran_28_02_2014_09_26-4](https://f.cloud.github.com/assets/110196/2292170/393c81fe-a052-11e3-97c4-2f75cf48afb5.png)

[2014-02-28 16:42] alicoding opened #15 "Search files should be from config not from .gitignore"
Not sure if this is a bug or intention of this package.

I think searching through `cmd+t` should only be exclude from the config in setting but not from .gitignore.

[2014-02-28 18:21] gimenete opened #16 "Latest opened buffers list with cmd+t"
Hi,

Like SublimeText2 it would be cool to show a list of latest opened buffers when pressing `cmd+t`. It is very useful to quickly navigate to the previous edited file doing the following steps:
- `cmd+t` and it shows the list of latest opened buffers
- arrow down
- enter

That's the way I like to navigate to files that I know are opened because I've been working with them seconds or few minutes

[2014-03-01 01:58] gjtorikian opened #17 "Files with same paths are too truncated"

[2014-03-01 04:18] Mattieuga opened #18 "Center search box on pane not window"
It's nice to have a confirmation of which pane you are about to open the new file in. The way sublime handles this by centering the box over the pane it will open is a nice mental queue for this.

[2014-03-04 19:00] weskinner opened #19 "Add API to atom.packages"
It would be great to be able to access the fuzzy-finder lib off of an api on atom.packages for reuse in other packages.

[2014-03-04 19:53] tangent405 opened #20 "Toggle file symbols (cmd-r) doesn't work in javascript with extra parenthesis"
In the example below atom finds the summer symbol but not the winter symbol.

var winter = (function() {
  console.log('winter');
});

var summer = function() {
  console.log('summer');
};

![screen shot 2014-03-04 at 11 52 10 am](https://f.cloud.github.com/assets/339331/2325514/82d66bea-a3d6-11e3-8b16-1d82a8daad90.png)

[2014-03-04 19:58] #20 closed, assigned to nobody

[2014-03-07 00:32] #9 closed, assigned to nobody

[2014-03-10 15:50] corbanbrook opened #21 "Sorting search results"
Multiple schemes can be employed to achieve results which are most relevant to the user. Predicting which file a user wants out of a long list of possible matches and presenting it first can help speed up development time/maintain flow and train of thought. Here are some ideas to discuss:
- [ ] Sort least fuzzy results to the top. Fuzziness determined by search term run length in the result. ie. S

[2014-03-11 23:04] #16 closed, assigned to kevinsawicki

[2014-03-14 19:07] wylieconlon opened #22 "Cannot ignore directories"
Reading through the `load-paths-handler` source, it looks like the `ignoredNames` config only matches the file name without extension (the base name). This obviously doesn't work when you want to specify an ignore on a directory level, such as for build products or dependencies.

I would prefer to specify ignores with a syntax like [`.gitignore`](http://git-scm.com/docs/gitignore), from the root o

[2014-03-17 16:17] kjg opened #23 "Dialog closes when indexing and looses focus"
If I Command-T, I see a "project is being indexed dialog". I have a really big project, so this takes quite awhile. While waiting, I'll switch apps to do other stuff. When atom looses focus, the dialog goes away, and then when I hit command-T again, indexing starts over from 0. It would be nice if I could do other things wile the project is being indexed.

[2014-03-18 13:43] gaoxt1983 opened #24 "open from Alfred 2 prevent fuzzy-finder from opening"

[2014-03-19 17:54] #23 closed, assigned to kevinsawicki

[2014-03-19 18:17] #15 closed, assigned to nobody

[2014-03-27 17:04] donovanbray opened #25 "find files where the search term is in the path"
I work with a couple of libraries that have standardized files like

install.rb
hooks.rb
manage.rb

the directory name contains the disambiguating item ie:

nginx/install.rb
nginx/hooks.rb
mysql/install.rb
mysql/manage.rb

etc.

This is not a problem for the sublime2 finder, typing in 'nginx/install' will find the appropriate file. Atom's finder will not.

[2014-03-30 09:03] guileen opened #26 "Not work after `atom.project.setPath`"
I am writing a package switch project use atom.project.setPath.

But after I setPath of a project, the tree view and other packages works as expected. But fuzzy-finder is not work well, it still show old items before setPath.

I think it is a bug.

[2014-04-03 14:53] mgarciaisaia opened #27 "Trying to go to a line suggests another file"
I type `CMD + P` to open the fuzzy finder and type `:22` in. I expect that to take me to line 22 of the currently opened buffer. Instead, fuzzy-finder seems to have any kind of file-prediction that doesn't get overridden with the `:22` thing, so it takes me to line 22 of whatever that predicted file is, that doesn't have anything to do with the current one.

I hope I'm being clear.

If you smell w

[2014-04-09 15:36] idris opened #28 "Open tabs show up twice in fuzzy-finder"
If you have tabs open, they show up twice in fuzzy-finder: presumably once for the file, and once for the tab.  Screenshot below.

![screenshot 2014-04-09 11 34 44](https://cloud.githubusercontent.com/assets/13989/2657454/af618374-bffc-11e3-99e4-f9d41d355edd.png)

[2014-04-09 18:01] #28 closed, assigned to nobody

[2014-04-10 22:43] donovanbray opened #29 "Can't find files that have been .gitignored"
I have a number of files that have an extension .template that are checked into git. The developer copies the database.yml.template to database.yml in order to run the project.  To prevent the customized templates from being checked in they are added to the .gitignore.

However when you search with fuzzy finder it will refuse to show you the the .gitignored version, only the database.yml.template

[2014-04-11 21:16] #26 closed, assigned to kevinsawicki

[2014-04-11 21:19] #19 closed, assigned to nobody

[2014-04-13 18:42] robahl opened #30 "Doesn't update when new files are added"
I really don't know when this is happening. But it seems that sometimes when I add files with `touch file.txt` the fuzzy-finder does not list it, and you have to close the window and reopen it to show it (reload window also works). Worth noting is that it appears as it should in the tree-view.

[2014-04-14 18:07] #22 closed, assigned to kevinsawicki

[2014-04-16 23:35] #29 closed, assigned to nobody

[2014-04-16 23:36] #24 closed, assigned to nobody

[2014-04-20 08:19] kevingriffin opened #32 "Can't find a file called "user.rb" with default settings"
With "Ignore Vcs Ignored Paths" disabled, the default set of Ignored Names globally, and none for Fuzzy Finder, it can't find a file called `user.rb` in the submodule of my project. (but it finds other files in the same folder fine, and it can find the file if I rename it)

That's a really vague description, so if there's anything I can do to give debugging information, please let me know!

[2014-05-02 21:14] probablycorey opened #34 "Choose already opened file even from another pane"
(This could be a fuzzy-finder option. Original issue is https://github.com/atom/atom/issues/1303)

## Behavior expected

Opening a file from cmd-b or cmd-p should go directly to the file if it's already opened, regardless of pane.

## Behavior observed

The file is selected if you're in the same pane, but opened new if not.

## Thoughts

This could be behavior that can be had both ways. For exampl

[2014-05-13 04:22] Magnusvb opened #36 "Fuzzy find missing a lot of files"
Hi
I have a Magento project ( a lot of files and folder levels). But when I try to do a fuzzy find, it looks like not all of the folders/files is searched/find.

The project is mainly .phtml files. And I can look at a file in the file tree, do a fuzzy find on the name - but Atom can not find it. I belive that it have worked before - but not now on version 0.94.

Regards, Magnus

[2014-05-19 14:24] tonatiuh opened #37 "Changing window makes fuzzy finder disappear"
Steps to reproduce:

Open fuzzy finder at Atom (CMD+t)
Type something in it
Change to another app window (CMD+tab)
Go back to Atom

Result: the fuzzy finder is gone as well as the search I was performing on it.

[2014-05-19 15:43] #37 closed, assigned to nobody

[2014-05-22 11:59] izuzak opened #38 "cmd-t should work when Atom doesn't have a current working directory"
_(moved over from https://github.com/atom/atom/issues/1642)_

support/b62ac6b69fc211e387a72d6e148f9cfd?page=1

[2014-06-03 22:22] timscott opened #41 "Exact starts-with should take precidence"
To replicate:
1. Open a tree containing files `cox.rb` and `context.rb`
2. `cmd-p` and type "cox".
3. Fuzzy finder lists `context.rb` above  `cox.rb`

Perhaps not _wrong_ but certainly [_surprising_](http://en.wikipedia.org/wiki/Principle_of_least_astonishment).

[2014-06-06 06:17] curtisblackwell opened #42 "FR: Ability to set lang precedence"
# Use Case

Depending on the team I'm working with, I may be using Jade or writing HTML the old-fashioned way.

It doesn't make sense to ignore HTML files, because it's (to my knowledge) currently only possible at a global level. I could see this use case becoming obsolete, but I'll bet others have other more common use cases. If so, chime in people!

[2014-06-12 16:03] rtconner opened #43 "Request: Setting to allow case sensitive matching"
Would like an option for case sensitivity matching to the search string.

I was just hoping for a checkbox under fuzzy-finder settings to toggle that value.

[2014-06-13 07:46] dmnd opened #44 "UI doesn't update when reindexing is happening"
If I try to use fuzzy-finder right after switching branches, it says reindexing. Fair enough. But if I try to type while this is happening, it takes a while for keystrokes to appear and for the results to render. It seems like the reindexing is blocking the UI thread. Any chance reindexing can happen without impacting the UI?

[2014-06-18 10:39] Jessidhia opened #47 "Using ':' to go to a specific line number switches tabs to first tab"
When you use Cmd+P to go to a line number (e.g. line 20 by using Cmd+P ":20"), fuzzy finder does not go to line 20 on the current tab, but on the first open tab.

Specifying the filename beforehand does go to that line number in the specified file, but if it is unspecified, it always does it on the first tab.

[2014-06-18 11:32] #47 closed, assigned to nobody

[2014-06-26 00:19] Zequez opened #48 "Fuzzy search doesn't remember the last choice made"
Let's say I searched for

 `use`

And the results are
- `user.yml`
- `user.rb`

So I select `user.rb`

Next time I type `use` on the fuzzy search I would expect to `user.rb` to be automatically highlighted, or first.

[2014-06-26 13:22] benzen opened #49 "use fuzzy find to open folder"
When using fuzzy finder, i'd like to also open folder.
Maybe presenting it with different icon, just to assure that it's a folder, not a file

[2014-07-07 12:33] #25 closed, assigned to nobody

[2014-07-07 12:54] #49 closed, assigned to nobody

[2014-07-11 16:05] #27 closed, assigned to nobody

[2014-08-13 23:46] dmnd opened #53 "Persist file index across app restarts"
I feel like I see this a lot

![image](https://cloud.githubusercontent.com/assets/4427/3914299/01dd9070-2344-11e4-81a4-927d60c73564.png)

[2014-08-14 03:38] gbraad opened #54 "Fuzzy finder does not work as expected with untitled/unsaved files"
Summary: when Atom starts a new sessions and a new file is successively created with ctrl+n, the user is unable to trigger ctrl+p to locate these files. When the user saved one of these files, fuzzy finder starts to act correctly.

For example, creating several files within Sublime Text does allow the user to navigate between these files/buffers with the fuzzy finder; unsaved files are identified

[2014-08-28 21:33] sandstrom opened #55 "Atom, search and 'deep' .gitignore files"
Atom excludes files in .gitignore from search, which is awesome! :sailboat:

It would be even better if it also considered `.gitignore` files below the root directory.

Feel free to close if this is difficult to solve.

[2014-08-29 16:20] lee-dohm opened #56 "Change the data-path attribute to show the absolute path to match tabs"
Per the discussion in atom/tabs#79

[2014-09-06 16:54] diiq opened #57 "Scoring of initialisms is much worse than sublime, emacs"
Fuzzy finder scores strange, middle-of-word matches higher than perfect initialisms. Here's an example:

I am working on a project with a file called `ImportanceTableCtrl.js`.

I would like to type 'itc' and get this file as the top listing.

Atom's fuzzy finder gives me this list:

![screen shot 2014-09-06 at 09 13 29](https://cloud.githubusercontent.com/assets/150973/4175789/a7188bcc-35e5-11e4-8

[2014-09-11 01:25] dmnd opened #58 "Better way to open a new file in a new pane"
Please let me know if there's a better way, but as I understand right now this is how to open a new file in a new pane:

1. `cmd-b right` Split the current pane in the desired direction
2. `cmd-k cmd-w` Close the split file that you don't really want anyway
3. `cmd-T` To find the new file
4. `enter` to open in current (new) pane

Things get a bit more confusing if you have Atom set to destroy empt

[2014-10-20 11:51] williamboman opened #59 "Ignored names ending with '/'"
I recently tried to add a few folders to exclude from fuzzy finder result set. I did so by suffixing the folder names with forward slash (/), i.e. `.sass-cache/`. This apparently did not work, I had to delete the slash&nbsp;(to&nbsp;`.sass-cache`).

Is this WAI? I found it a tad confusing..

[2014-10-27 17:39] albertorestifo opened #60 "Undesired behaviour"
When searching, I think the behaviour should be improved by showing, as a first result, the exact match.

Take this situation fro example:
![example](http://i.imgur.com/G6OXRap.png)

Because I started to type the format of the file, it would be correct to assume that the file I'm searching for is "log.html" and it should be in the first position, immediately followed by "login.html"

[2014-10-29 17:35] #38 closed, assigned to kevinsawicki

[2014-11-03 20:55] Bjvanminnen opened #61 "fuzzy finder shows files that should be ignored"
I'm seeing a strange issue where files in my build directory are showing up in fuzzy finder.
![image](https://cloud.githubusercontent.com/assets/1767466/4890018/f93b09ec-639a-11e4-888f-cff76fa14bfc.png)

From this screenshot you can see that the build directory is properly ignored in my directory structure in the left pane, but build/js/calc/calc.js is still showing up in the fuzzy finder results.

[2014-11-04 06:01] #61 closed, assigned to nobody

[2014-12-07 22:09] #60 closed, assigned to nobody

[2014-12-08 16:26] sjdecaires opened #62 "Inverse of Ignored Names"
A cool addition to fuzzy finder would be a config item that did the inverse of Ignored Names - basically a inclusion list of file extensions.

In most projects it would be easier for me to list the file types I would like to include rather than the reverse.

[2014-12-11 17:00] benogle opened #64 "Uncaught TypeError: undefined is not a function"
_From @lagora on December 11, 2014 15:40_

Uncaught TypeError: undefined is not a function

**Atom Version**: 0.154.0
**System**: Mac OS X 10.9.5
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package
### Steps To Reproduce
1. ...
2. ...
### Stack Trace

[code]

_Copied from original issue: atom/atom#4549_

[2014-12-14 22:19] Oblongmana opened #65 "gitignore: negations of previously excluded patterns not working"
## Environment

**OS**: OSX Yosemite (10.10.1)
**Atom Version**: 0.123.0
## Repro Setup

Set up a directory structure `src/classes` in your project root, and create a file in there called `Batch_UpdateMatchingProducts.cls`

Ignore the src/classes folder using a glob in your gitignore.

[code]

Add a negation rule in your gitignore - that will include a single file that was excluded by the previous

[2014-12-19 19:03] usami opened #66 "Uncaught Error: Atom can only handle files < 2MB for now."
Uncaught Error: Atom can only handle files < 2MB for now.

**Atom Version**: 0.161.0
**System**: Mac OS X 10.10.1
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.62.0
### Steps To Reproduce
1. ...
2. ...
### Stack Trace

[code]

/cc @atom/core

[2014-12-20 01:34] #66 closed, assigned to nobody

[2014-12-20 01:37] #32 closed, assigned to nobody

[2014-12-22 19:12] jeffschwartz opened #68 "fuzzy finder does not traverse project directory"
It seems it will search sibling and child folders relative to the current file (relative to the current file as seen by the tree view maybe?) but it doesn't search ancestors. IMHO fuzzy search should resolve to search the tree of folders starting with the project folder.

[2014-12-22 20:38] #68 closed, assigned to nobody

[2015-01-05 16:23] xdumaine commented on #64
This happens to me every single time, the first time I use fuzzy finder after launching atom. I always launch atom via terminal.

[2015-01-07 11:46] ajclarke90 commented on #64
I can confirm I am also getting this error.

Atom Version: 0.166.0
OS X Mavericks V 10.10.1

Fuzzy finder seemed to be working fine yesterday, though I don't recall making any changes or updating anything since then.

[2015-01-07 17:42] kevinsawicki commented on #64
@xdumaine @ajclarke90 is it happening when you open a specific file or any file?

Does it happen if you quit Atom and launch it in safe mode (`atom --safe`)?

[2015-01-08 10:02] ajclarke90 commented on #64
I happen to be opening a directory containing all my code. Atom successfully opens the last .f90 file I had open at the time I closed it, and then I can't use fuzzy finder to navigate to other files in the project.

I can confirm this also happens if I launch atom from the command line in safe mode. I have also tried manually launching the GUI and then opening the project, and opening the project

[2015-01-08 10:50] ajclarke90 commented on #64
Hey folks, I think I have narrowed it down. Uninstalling the build package appears to have fixed my fuzzy finder functionality.

This is odd though, because from what I understood, safe mode should disable all packages. However, uninstalling and reinstalling build, has given me fizzy finder functionality back again.

This also fixed tree-view for me: https://github.com/atom/tree-view/issues/314

[2015-01-08 18:36] xdumaine commented on #64
@ajclarke90 I don't have a package "build" to uninstall.

[2015-01-12 19:18] targeter21 commented on #53
Would also like to +1 this issue as my work's projects can take a while to index. Most times I am just restarting Atom or my computer without making any project changes, but I end up having to re-index every time.

[2015-01-17 01:50] cchrisman commented on #62
I also immediately came to the conclusion that a whitelist would be more useful as soon as I started using it on a real project. +1

[2015-01-28 18:01] williamboman commented on #59
Just ran into this again while setting up a fresh installation of Atom... so bump I guess?

Thoughts?

[2015-01-29 00:00] gjtorikian opened #69 "Filenames with UTF-8 characters are not found"
![utf8](https://cloud.githubusercontent.com/assets/64050/5949816/d404b77c-a706-11e4-8c8e-410f989c7262.gif)

[2015-01-29 00:01] gjtorikian commented on #69
The search string was `erstiebegrüßung`.

[2015-01-29 01:23] kevinsawicki commented on #69
Looked into this, for some reason the file path splits like this:

[code]

but the string entered into the box splits as:

[code]

[2015-02-02 05:49] doggan opened #70 "Select and open multiple files at once"
In some other fuzzy finders that I've used in the past, you can use `shift + down` to select multiple files, and then press enter to open them all at once. Here is a quick mockup of what it would look like:

![mockup](https://cloud.githubusercontent.com/assets/517857/5996258/7fece128-aae9-11e4-9e6e-ab6bc32a65d5.gif)

This is particularly useful for opening related files that only differ by extensi

[2015-02-02 18:54] benogle opened #71 "sort items in File Finder / Buffer Finder in recent used order"
_From @weijar on February 2, 2015 13:31_

The initial order in Buffer Finder is recent used order, it is ok, but when I enter some characters to filter it, it tunes to alphabetical order :(

In File Finder, when I filter it, it then show many files I never edit it at top of this list.

In my previous editor Sublimetext, it saves file edit order info to workspace file and use this list to sort find

[2015-02-03 23:50] jtokoph opened #72 "Option to fuzzy-find across projects/windows"
I like to have multiple related projects open in separate windows. It would be great to be able to open the fuzzy finder in one window/project and still be able to search all open windows/projects.

One reason I prefer to use separate windows per project instead of one combined window is that each project has it's own git repository and I would like all of the fancy git highlighting/colors in my e

[2015-02-12 02:14] vemv opened #74 "No modal-like overlay"
Hi,

when I press cmd-t I'd wish just to see the fuzzy-finder itself appearing, not the whole editor being darkened by a modal-like overlay.

The effect is quite tiring to my eyes.

Could you make it optional? Or if there a css which one can override, please let me know.

Thanks!

Victor

[2015-02-26 01:18] maxbrunsfeld commented on #74
@vemv what UI theme are you using? The overlay effect will be defined there, via css.

[2015-02-26 01:21] maxbrunsfeld commented on #72
In the latest Atom release, you can open multiple projects in one window and still get the fancy git highlighting. Right click in the tree view and select 'Add Root Folder' or 'Remove Root Folder'. The fuzzy finder will search all root folders. Does this do what you want?

[2015-02-26 01:23] maxbrunsfeld commented on #64
@xdumaine it sounds like some package you have installed is causing this. Does this happen if upgrade to the latest Atom and run `atom --safe`?

[2015-02-26 01:46] jtokoph commented on #72
Yup, this overall change is an even better solution! Just need to see if I can figure out how to get [project-manager](https://github.com/danielbrodin/atom-project-manager) to work with the new multi-root feature.

[2015-02-26 01:46] #72 closed

[2015-02-26 09:36] vemv commented on #74
I'm using One Light. Unfortunately the overlay is hard to inspect - when I click anything in the Developer Tools, the whole modal goes away.

Basically, making the black, partially-transparent "background" completely transparent instead would solve my issue.

I suspect this isn't a fuzzy-finder specific issue (when I create a file, the same modal is used), sorry for any inconvenience!

[2015-02-26 09:49] vemv commented on #74
Hey I finally got it, thanks for pointing out that this was defined in the UI theme.
[code]

[2015-02-26 09:49] #74 closed

[2015-02-26 13:30] xdumaine commented on #64
I actually haven't seen this lately. Recent updates must have resolved it, at least for me.

[2015-02-26 16:11] olivier-g opened #76 "After updating to Atom 0.184.0, fuzzy-finder doesn't find anyting."
It keeps re-indexing after every Atom restart, and when it's done I get the following:

![screen shot 2015-02-26 at 11 08 17 am](https://cloud.githubusercontent.com/assets/465250/6395726/f2cc1ea4-bda7-11e4-90cd-6bcec1030442.png)

No files ever get populated in the dropdown, I always see the `indexing project...` message, even after the file count has stopped increasing.

EDIT: It seems this is onl

[2015-02-26 18:01] giladgray commented on #57
+1 this is a major usability error in the fuzzy finder.

I've found that adding even one character of the file extension causes the fuzzy finder to suddenly work as expected (`itc.j` in the original comment, for example) but that's still significantly worse than the experience in Sublime.

I use Atom with a very large repository (2000+ source files, 10k+ total files) and when I try to fuzzy find a

[2015-02-26 21:20] donutmonger commented on #76
I am having a similar problem for only one of my projects where fuzzy finder says "Project is empty."
![screen shot 2015-02-26 at 2 18 29 pm](https://cloud.githubusercontent.com/assets/3676616/6402106/5efb3fc8-bdc2-11e4-9acf-9f98b18d6fce.png)

[2015-02-26 21:23] maxbrunsfeld commented on #76
@donutmonger can you open a separate issue for that? In it, you should report your Atom version and OS.

[2015-02-26 21:30] MattKunze commented on #76
@donutmonger - I think I was seeing the same issue with the last couple of releases as well. I was launching `atom` from a terminal within my project folder and getting nothing in the file search results. Explicitly specifying the path with `atom .` works around it for now. It also works if I manually add root folders. Let me know if you file a separate issue, I can add some details there

[2015-02-26 21:46] donutmonger opened #77 "Fuzzy Finder reports "Project is empty" for non-empty project"
I am using Atom 0.184.0 (just updated) on Mac OS X 10.10.2.

After opening Atom from the terminal in my project directory using `atom .`,  and trying to use the fuzzy finder it says that the project is empty.

![screen shot 2015-02-26 at 2 41 56 pm](https://cloud.githubusercontent.com/assets/3676616/6402577/fca00b5c-bdc5-11e4-9d43-5cf3d3e3fc35.png)

 I am only having this problem with one of my pr

[2015-02-26 21:46] donutmonger commented on #76
@maxbrunsfeld @MattKunze I opened a new issue here https://github.com/atom/fuzzy-finder/issues/77

[2015-02-26 21:49] maxbrunsfeld commented on #77
Thanks for the report. What is the structure of this project, directory-wise? Are there any symlinks? Do you have the `Traverse Into Symlink Directories` setting enabled?

[2015-02-26 22:00] MattKunze commented on #77
Same version/environment for me.

The project folders I'm having problems with are symlinks, though the files within the project folder are not symlinked. I'm not seeing any different behavior with or without the setting toggled, probably because it's not traversing symlinks for the search.

I am seeing different behavior in two project folders though:

project 1 - where I initially saw the issue,

[2015-02-26 22:12] MattKunze commented on #77
Here's a pretty easy way to reproduce the issue from a terminal:

[code]

The file finder shows *test.txt* when you launch atom the first time, and *Project is empty* the second time. It doesn't make a difference if the *Follow symlinks* setting is enabled

[2015-02-26 22:14] maxbrunsfeld commented on #77
@MattKunze :+1: thanks that's really helpful.

[2015-02-26 22:15] graygilmore commented on #77
+1 same issue for me.

[2015-02-26 22:17] donutmonger commented on #77
@maxbrunsfeld The directory structure is quite straightforward, with no symlinks:
![screen shot 2015-02-26 at 3 15 26 pm](https://cloud.githubusercontent.com/assets/3676616/6403134/786ecdb4-bdca-11e4-9b72-14b2731a769c.png)

[2015-02-27 14:48] johnathanludwig commented on #76
I am also getting this error after upgrading to 1.8.4 from 1.8.2. Im on OSX 10.10.2. It only seems to be affecting my primary project, and my indexing stops count at 1000. I opened a different project and that one still works fine.

[2015-02-27 15:22] knovoselic commented on #76
I've just installed Atom for the first time (v0.184.0) on OSX 10.10.2 and had the same issue - it keeps reindexing after each restart and never completes it (in my case it was getting stuck at 700 files).
After a little while I've figured out that it was do to .zeus.sock file in my project root. It seems that fuzzy search doesn't like sockets. After I've added that file to ignored names list, it h

[2015-02-27 15:33] johnathanludwig commented on #76
@knovoselic Good call! I had `config/puma.socket` in my project, removing it fixed the issue.

[2015-02-27 18:49] #76 closed

[2015-02-27 18:49] #77 closed

[2015-02-27 18:50] maxbrunsfeld commented on #77
This will be fixed in Atom 0.185. Thanks for the report!

[2015-02-27 18:50] maxbrunsfeld commented on #76
This will be fixed in Atom 0.185. Thanks for the report!

[2015-02-27 20:59] donutmonger commented on #77
Awesome! Thanks for such a quick response and fix!

[2015-03-03 16:16] viddo commented on #77
Actually I experience this same issue, but in my case I have no socket files (as the referenced commit claims is the culprit). I've managed to narrow it down to be some issue with the `.git` directory in my project dir. If I move the `.git` dir elsewhere temporarily and start atom it indexes just fine.

I've tried to both enable/disable `Traverse Into Symlink Directories`, as well as install the H

[2015-03-03 17:26] maxbrunsfeld commented on #77
@viddo, if you disable `Exclude VCS Ignored Paths`, does indexing succeed?

[2015-03-03 20:02] viddo commented on #77
Yes, indeed, that do the trick!

[2015-03-03 20:37] maxbrunsfeld commented on #77
Ok, can you share the contents of your `.gitignore`?

[2015-03-03 23:38] viddo commented on #77
https://github.com/CartoDB/cartodb/blob/master/.gitignore

[2015-03-03 23:54] maxbrunsfeld commented on #77
@viddo I'm opening `cartodb` in Atom with the latest fuzzy-finder and `Exclude VCS Ignored Paths` enabled, and I can't reproduce this. If you clear the contents of your `.gitignore` file, does it still happen?

[2015-03-04 09:49] viddo commented on #77
The offending line seems to be `src/`. In fact there are no directories with that name, that are not already ignored. Could that be related?

[2015-03-04 21:58] maxbrunsfeld commented on #77
@viddo thanks for narrowing it down. Can you open a separate issue for this, if possible with the simplest possible directory structure and `.gitignore` that exhibits the problem?

[2015-03-04 22:30] viddo opened #79 "gitignore patterns are being applied to full paths instead of project-relative paths"
Follow-up from last comments in [#77](https://github.com/atom/fuzzy-finder/issues/77#issuecomment-77258901):

I've removed my `~/.atom` directory to rule out any non-default packages or config settings being the cause. I've narrowed it down to this minimal setup to reproduce it:

[code]

`cmd-t` yields "Project is empty:
![screen shot 2015-03-04 at 23 11 27](https://cloud.githubusercontent.com/ass

[2015-03-04 22:30] viddo commented on #79
@maxbrunsfeld hope this helps :)

[2015-03-04 22:34] bohlander commented on #79
Fwiw, I ran into the same issue with this .gitignore.

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

dispatcher
dynamodb_local*

# emacs
.\#*
\#*\#

dispatcher.test

[2015-03-05 16:06] bfagundez commented on #79
same here, a totally different .gitignore

[2015-03-05 16:15] DonkeyAfterDark commented on #62
Ditto. I'd like to only search, for example... *.js, *.jsp, *.tag, *.css files, ignoring all the image types, all the readme files, and everything else that I forgot to ignore.

[2015-03-05 19:04] graygilmore commented on #77
I'm not sure if this needs to be reopened. I'm still experiencing this issue. Disabling `Exclude VCS Ignored Paths` fixes the issue but isn't ideal.

Structure:
![project structure](https://cloud.githubusercontent.com/assets/836758/6512191/d6dffcf4-c326-11e4-89a6-f8532384aced.png)

Special note: this folder *is* nested inside a folder that is globally ignored, though I don't imagine Atom is (or sh

[2015-03-05 19:09] maxbrunsfeld commented on #77
@graygilmore this is a separate bug; we've opened another issue for it: #79. Your special note sounds like it could be relevant. Would you mind commenting on the aforementioned issue? Thanks!

[2015-03-05 19:24] graygilmore commented on #79
This isn't exactly the same, but it's related so I'm commenting here. Let me know if this should be a whole new issue.

I'm working on a project that has a *parent* folder that is ignored (both globally and in the parent project). Unfortunately, Atom is looking outside of the scope of the current project.

The structure looks like this

[code]

Disabling `Exclude VCS Ignored Paths` fixes the issue

[2015-03-05 19:50] matthewwithanm commented on #79
I'm having the same issue. It seems to be caused by having "*.com" in my gitignore.

[2015-03-05 19:55] maxbrunsfeld commented on #79
/cc @izuzak - I haven't been able to repro this yet (I tried using @viddo's steps but it works as expected for me). Could you :eyes: this one?

@viddo is there a `.gitignore` in any parent folder of your project? Or do you have any global `.gitignore` configured in your `~/.gitconfig`?

[2015-03-05 20:33] matthewwithanm commented on #79
Oh, I think I see what's happening with me. `load-paths-handler.coffee` is checking against the entire path. In my case, `*.com` is problematic *because my project is in a folder with ".com" in the name*. In other words, my project looks like this:

[code]

Even though "awesomesite.com" isn't part of the project, the path "path/to/awesomesite.com/project" matches ".com", so it gets ignored.

@vidd

[2015-03-05 20:59] viddo commented on #79
Indeed I do:
[code]

[2015-03-05 21:01] viddo commented on #79
@maxbrunsfeld yes, both actually

[2015-03-05 21:28] bfagundez commented on #77
Tried with empty .gitignore (to see if was like #79) and it keeps happening, so this should be reopened IMHO. Just updated to 186, same story 3 projects.

[2015-03-05 22:12] maxbrunsfeld commented on #79
@viddo I updated the title now that we've discovered the exact problem. Thanks a lot for investigating this @graygilmore, @matthewwithanm, @viddo.

[2015-03-05 22:15] matthewwithanm commented on #79
:thumbsup: Thanks!

[2015-03-05 22:32] #79 closed

[2015-03-05 22:35] viddo commented on #79
:cake:

[2015-03-05 22:39] maxbrunsfeld commented on #79
Thanks helping catch this everyone. The fix is on Atom master and we should be releasing again in a few days.

[2015-03-05 22:48] maxbrunsfeld commented on #77
@bfagundez this is fixed on master. See #79.

[2015-03-05 23:21] maxbrunsfeld opened #80 "If I add a root folder before using fuzzy-finder, new folder isn't indexed."
Repro:

* Open atom
* Add a root folder
* Open fuzzy finder
* See that the added folder's files aren't shown.

The next time the fuzzy-finder indexes, (e.g. if I re-focus the editor window), the new folder will be indexed correctly.

[2015-03-06 08:53] Trudko commented on #76
Not sure if this is related @maxbrunsfeld but every time I open project (using Project manager package) and then open fuzzy finder , whole project is reindexed. Reindexing is successful, but  I wouldn't expect fuzzy finder to reindex every time I open the project.

[2015-03-06 10:20] maxbrunsfeld commented on #76
@Trudko you should open a separate issue for this. Also, please report your Atom version, and whether or not this happens when you open Atom with `atom --safe`.

[2015-03-06 15:20] paulcsmith opened #81 "Open files in same tab or in a new split"
Similar to [Ctrl-p in vim](https://github.com/kien/ctrlp.vim)

I often want to replace the current tab with a new file instead of opening in a new tab, then navigating back to the old tab and closing it.

It would also be really nice to hit <Ctrl-v> in fuzzy finder to open the file in a new vertical split and <Ctrl-S> for a horizontal split.

[2015-03-07 08:49] jrjohnson opened #82 "Find Paths in Any Order"
My brain works backwards when looking for things.
I type *course model* which does not find the file src/model/course.  Is there any way to search for paths which match the words in any order?

[2015-03-07 08:49] jrjohnson commented on #70
:+1:

[2015-03-09 17:24] bprosnitz commented on #41
+1 Exact searches sometimes don't match

[2015-03-10 21:29] #80 closed

[2015-03-11 00:10] andruhon opened #84 "Externalize the maxItems value"
It would be nice to have the maxItems value option. There are sometimes more than 10 files with similar names.

The maxItems value is currently hardcoded in the

https://github.com/atom/fuzzy-finder/blob/master/lib/fuzzy-finder-view.coffee#L16

[2015-03-11 15:46] jaffacake commented on #14
+1

[2015-03-11 22:04] mark-hahn opened #85 "Can't find markdown-preview in Atom command palette"
If I use `markdown preview` the command is found.  If I use the real name of the package, `markdown-preview` nothing is found.  May I suggest changing all dashes to spaces before searching?

**Edit:** Would you take a PR for this?

[2015-03-12 00:10] kshnurov commented on #14
+1

[2015-03-12 01:42] Tedko opened #86 "Uncaught TypeError: Cannot read property 'length' of null"
[Enter steps to reproduce below:]
1. ...command + T
2. ...

**Atom Version**: 0.184.0
**System**: Mac OS X 10.10.3
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.68.0
### Stack Trace

Uncaught TypeError: Cannot read property 'length' of null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-03-13 00:14] jstr commented on #14
+1

[2015-03-13 23:04] peterbe opened #87 ""Project is empty" if opening atom in a symlink"
As described in https://discuss.atom.io/t/fuzzy-finder-not-working/15380/11

If you open atom from within a symlinked directory it finds nothing in the fuzzy-finder.

[2015-03-13 23:08] MattKunze commented on #87
dup of #77?

[2015-03-13 23:21] peterbe commented on #87
Doubt it. My brain has Friday'ed already. :)

#77  is closed but I can still reproduce this easily in 0.187.0.

[2015-03-14 00:51] 50Wliu commented on #87
@peterbe do you have the `Follow symlinks` option enabled?

[2015-03-14 02:38] peterbe commented on #87
@50Wliu what's that?

[2015-03-14 15:39] 50Wliu commented on #87
It's one of the options in Preferences (<kbd>Ctrl+,</kbd> or <kbd>Cmd+,</kbd> if on Mac).

[2015-03-16 09:06] Trudko opened #88 "Fuzzy finder reindex whole project everytime"
Hi,

every time I open project and use fuzzy finder, whole project is re indexed which takes some time.
I cd-ed into project (place in Linux server accessed by Samba)
Run atom --safe.
Open fuzzy finder.

I run this using --safe option. Using 0.187 Atom (Windows 8.1).

[2015-03-16 16:10] peterbe commented on #87
Didn't help.
![screenshot 2015-03-16 09 08 48](https://cloud.githubusercontent.com/assets/26739/6670490/1b74d23e-cbbc-11e4-9cdd-228af9761db7.png)
What you can see in the screenshot is that I've just opened `atom` inside a symlinked directory and the "Follow symlinks" option is ("was" in fact) on and after Meta-t it still says "Project is empty".

Note in the header how it says `/Users/peterbe/airm

[2015-03-17 05:30] gjtorikian commented on #69
Is there anything I can do here to help contribute? I'm not sure where the splitting occurs. Seems like fuzzaldrin is doing the right thing, but most of the filtering is being handled by `SelectListView`. Is that right?

[2015-03-17 13:24] jensljungblad commented on #34
:+1: Anything stopping the PR from being merged?

[2015-03-17 15:56] nathansobo commented on #34
It's not clear that it's the right default behavior. Would need to be an option.

[2015-03-17 16:54] coltonw opened #89 "Fuzzy finder is not ignoring .gitignore files"
I have the "Exclude VCS Ignored Paths" setting on but fuzzy finder is NOT excluding them. My .gitignore looks like the following:
[code]

Currently running latest Atom version which is using fuzzy finder 0.70.0

[2015-03-17 16:56] tmunro commented on #34
I've set it as an option in that PR, and it defaults to false.

[2015-03-17 17:10] izuzak commented on #89
Fuzzy finder is correctly excluding files for me.

Can you share which steps _exactly_ reproduce the problem for you, starting from a `git clone` command which clones a repository containing the project and the .gitignore file? Also, please clarify which version of Atom you're using (`atom -v`) and which OS. (The latest version might be the latest released version, or the latest version built from

[2015-03-17 17:11] jensljungblad commented on #34
To me cmd+b is about locating a file I have opened, so having it switch to the pane seems like a sensible default. But yes I agree it's not totally obvious. As long as there's an option I'm happy. 

—
Jens Ljungblad

On Tue, Mar 17, 2015 at 5:56 PM, tmunro <notifications@github.com> wrote:

[2015-03-18 09:40] despairblue commented on #34
:+1: for merging

[2015-03-18 14:15] ismyrnow commented on #89
I'm experiencing the same on Windows 8.1, with version 0.187.0. I have confirmed that "Exclude VCS Ignored Paths" is checked in my settings. My gitignored files are greyed out in the tree view, but not ignored by fuzzy finder.

Steps to reproduce:

1. `git clone git@github.com:ismyrnow/Leaflet.groupedlayercontrol.git`
2. `npm install`
3. `atom --safe .`
4. `ctrl+t` then type `package.json`. You sh

[2015-03-18 14:26] izuzak commented on #89
Just followed the instructions and I indeed do see only one result -- the top-level package.json.

Can you clarify what you see, @ismyrnow?

![screen shot 2015-03-18 at 15 25 21](https://cloud.githubusercontent.com/assets/38924/6710740/0ac5af9e-cd83-11e4-99b2-5a9916128b14.png)

[2015-03-18 19:27] ismyrnow commented on #89
Sorry. I see all of the package.json files in all subdirectories, including node_modules, which should be ignored.

![2015-03-18_1525](https://cloud.githubusercontent.com/assets/1127410/6717491/3f6ea93a-cd83-11e4-8dfb-ccd46412330c.png)

[2015-03-18 19:30] izuzak commented on #89
Thanks for helping investigate this. Does this happen for any project and any ignore pattern, or just for this project and this pattern? Can you try changing the pattern in the .gitignore file to cover `bower.json` and see if that is handled correctly, for example?

[2015-03-18 19:38] ismyrnow commented on #89
It happens for every project. I attempted a handful of other ignore patterns in my .gitignore file, including `node_modules`, `node_modules\`, `package.json`, and `bower.json` to name a few. When I save my .gitignore file and hit `ctrl+t`, it briefly says it is reindexing, then it shows all of the files as before.

It looks like it is ignoring all of the .gitignore patterns, regardless of how they

[2015-03-18 20:10] coltonw commented on #89
I am having the same behavior as @ismyrnow on Windows 7.  My coworker is seeing the same issues on a Mac.

[2015-03-19 19:31] philsturgeon commented on #87
Yeah I'm getting this too. Let me know if I can help.

[2015-03-19 20:51] atroutt commented on #87
I had this issue today suddenly, I opened my project from a symlinked directory (the root of the project is a symlinked dir) and in the fuzzy finder it said project is empty. But, for me, "Follow Symlinks" was off. I turned it on and that fixed the issue for me. I have atom version 0.187.0

[2015-03-20 16:01] peterbe commented on #87
That didn't work for me. I discovered my problem before I even noticed that "Follow symlinks" had been switch on all along. It hadn't helped.

[2015-03-20 21:54] izuzak commented on #69
This also reminds me of https://github.com/atom/atom/issues/1890.

[2015-03-21 14:52] izuzak commented on #85
Thanks, @mark-hahn. Can you reopen this over at https://github.com/atom/command-palette?

Also, before opening a PR, it's always helpful to describe the motivation for the change in the issue -- e.g. why are you entering the name of the package with dashes in the first place? That should help everyone understand the problem and help them feel more confident that the change we're making is the righ

[2015-03-21 14:52] #85 closed

[2015-03-21 18:22] mark-hahn commented on #85
FWIW: the reason that I often type in a dash that after typing package
names into apm my brain thinks that the name has the dash.  It sees
my-package which is nothing like "my package".  This comes from using
command lines in general.  A space is always a param separator.  Also my
brain usually types of lot of the package name even though less chars would
do.  I don't watch below while I'm typing

[2015-03-22 22:29] Aedaeum commented on #89
I am also having the same issue. Windows 8.1. Atom 0.187.0. fuzzy-finder 0.70.0.

[2015-03-23 21:15] paulcsmith commented on #41
:+1:

[2015-03-25 20:58] jwahdatehagh commented on #14
+1

[2015-03-26 15:29] darylng commented on #89
I have the same issue. Windows 8.1, Atom 0.188.0 fuzzy-finder 0.72.0 and `excludeVcsIgnoredPaths: true`

[2015-03-26 16:02] darylng commented on #89
It appears to me that on my system in the code below, repo.getWorkingDirectory() returns path using `/` while this.rootPath uses `\`

[code]

[2015-03-30 15:01] zachmullen commented on #87
I have the same problem and figured out how to fix it. It's not to do with symlinks in my case.

I have the following folder structure:

[code]

Both repo A and repo B are git repositories. The repo B directory is actually ignored by the .gitignore file shown in repo A/plugins. When I opened repo B in atom, I got the "project is empty" message no matter what I did. When I moved repo B out from und

[2015-03-30 17:19] nruth commented on #89
I'm also getting this on my Mac.

[code]

and fuzzy-finder is 0.72.0

Again, git ignores the files correctly and Atom is greying out the directories, but fuzzy finder is searching my tmp files and whatnot.

All my ignored file strings in atom are default or empty, I rely on the gitignore files doing everything. I have quite a lot of packages installed though, so should figure out how to test witho

[2015-04-01 06:06] filimon-danopoulos commented on #89
I am also experiencing this on my Windows 8.1 machine.
I am running Atom 0.188.0 and fuzzy-finder 0.72.0.

tree-view is handling ignored files correctly. I will try it from my Linux machine later and see if the issue is present there too.

[2015-04-01 16:23] dbpolito opened #91 "Support PHP Namespaces (Ignore Backlashes)"
At PHP, the folder representation is a backlash, so an PHP Class:

`Illuminate\Database\Eloquent\Model` will be at folder `Illuminate/Database/Eloquent/Model.php`.

I think we should ignore backlashes or replace `\`with `/`, as i never saw any file using `\` on it.

If i search for `Illuminate/Database/Eloquent/Model` or `IlluminateDatabaseEloquentModel` works just fine, so either way works, ignor

[2015-04-01 16:25] dbpolito commented on #91
I just saw https://github.com/atom/fuzzy-finder/pull/51, which is basically the same thing, but rails uses `::` instead of `\`.

[2015-04-04 14:51] mjhm commented on #89
Also experiencing the problem. mac osx, atom 0.189.0, fuzzy-finder 0.72.0

[2015-04-07 23:56] wkonkel commented on #87
:+1:

I get also get "Project is empty" in fuzzy finder when opening a symlink'ed project but not when opening the actual path. Problem still exists regardless of "Follow symlinks" and "Exclude VCS Ignored Paths" settings.

[2015-04-08 10:18] Pizzicato commented on #87
same problem here...

[2015-04-14 13:57] nj commented on #21
:+1: as the current solution is rather useless - and can even be faster to find the file manually

[2015-04-14 22:03] kevinsawicki opened #94 "Broken symlinks log errors"
Fuzzy finder is logging errors for any broken symlinks in the project

[code]

[2015-04-14 22:15] kevinsawicki commented on #94
This seems to hang the fuzzy finder and prevent it from ever loading, my seems stuck at:

![screen shot 2015-04-14 at 3 14 36 pm](https://cloud.githubusercontent.com/assets/671378/7148583/02a91e0e-e2b9-11e4-9e5b-ecf70e6289f9.png)

[2015-04-14 22:33] #94 closed

[2015-04-17 12:47] izuzak commented on #89
@nruth I just tried reproducing this with your instructions in https://github.com/atom/fuzzy-finder/issues/89#issuecomment-87757742, but wasn't able to. I'm using Atom 0.193.0-bcb8ca4 on OSX 10.10.2, and here's what I'm seeing in Atom:

![gi](https://cloud.githubusercontent.com/assets/38924/7202206/716c2300-e510-11e4-91b3-c119258b726e.gif)

Just to make sure -- you do have the "Exclude VCS Ignored

[2015-04-17 12:51] izuzak commented on #88
@Trudko Does this happen for local projects as well, or only projects stored remotely?

[2015-04-17 13:52] mnquintana commented on #11
This should be implemented in [atom/atom-space-pen-views](https://github.com/atom/atom-space-pen-views) for `SelectListView` so the Command Palette can also take advantage of this.

[2015-04-17 14:05] izuzak commented on #11
I'm not sure that should be the case (or that it's easily doable). Notice that the SelectListView is populated with HTML generated completely by subclases:

https://github.com/atom/atom-space-pen-views/blob/0e5fc262cc62d453bbd6dce9ecaec5caddc553f9/src/select-list-view.coffee#L85-L96

The generated view for an item doesn't need to contain the text you typed, for example, you could use it to show im

[2015-04-17 14:10] mnquintana commented on #11
@izuzak Ah, you're right. Subclassing SelectListView would work better, but I'm not totally sure about the deprecation status of these Views so I'd be hesitant to do it.

[2015-04-17 14:10] coltonw commented on #89
"Exclude VCS Ignored Paths" config option is enabled for me.  Now running version 0.192.0 of Atom on Windows 7.

[2015-04-19 09:05] OmarIthawi commented on #87
Same problem here with `v0.192.0`. Ubuntu 14.04 64bit.
No symlinks in the directory. Everything else is default.

[2015-04-22 08:15] shuriktm commented on #88
Hello,

It happens for me as well.
Only for remote projects (placed in virtual machine in VirtualBox).
Local projects do not require reindex.

Using Atom version 0.194.0 on Windows 8.1.

[2015-04-22 08:18] shuriktm commented on #53
The same thing for me.

It seems the issue related to this one https://github.com/atom/fuzzy-finder/issues/88

[2015-04-22 15:45] stevus commented on #87
On a Mac, turned off (which were on by default) 'Exclude VCS Ignored Paths' & Follow Symlinks. Fuzzy finder worked as expected. Using 0.192.0

[2015-04-23 15:24] calebmeyer commented on #57
+1 Same issues. Working on rails, I type ac (and then o, and then n) for application_controller, but it always comes up with application.rb

[2015-04-23 19:26] blimmer commented on #89
Ditto. I have Exclude VCS Ignored Paths set and I still get things in my `.gitignore`. It makes fuzzy-finding very slow. 0.194.0.

![](https://i.imgur.com/Uk29BPn.png)
![](https://i.imgur.com/6COOFbK.png)
![](https://i.imgur.com/f3sFMcD.png)

[2015-04-24 06:48] Pizzicato commented on #87
On Linux is working now, using 0.194.0

[2015-04-24 14:29] Srirangan commented on #89
Same for me:
[code]

Tried removing ~/.atom, ~/.config/atom and reinstalled with only default plugins.

Still the same bug.

[2015-04-24 17:02] ymendel opened #96 "fuzzy finder doesn't find symlinks (with similar names to existing files?)"
This came up on a particular project, but I was able to reproduce the problem in a minimal case.

In a directory like this:

[code]

I see this in the fuzzy finder:

![finder](https://cloud.githubusercontent.com/assets/597/7324181/efb3d854-ea81-11e4-97b9-4061dded0e31.png)

I do have "Follow symlinks" selected:

![settings](https://cloud.githubusercontent.com/assets/597/7324182/efb506fc-ea81-11e4-8

[2015-04-24 17:18] jdforrester commented on #87
Confirming still not working on Mac when excluding VCS ignored paths, using 0.194.0.

[2015-04-24 21:12] matugm commented on #21
:+1:  Would be great if we could get some progress on this.

[2015-04-25 07:51] izuzak commented on #89
I was able to reproduce this with @nruth's instructions on Windows 8.1: https://github.com/atom/fuzzy-finder/issues/89#issuecomment-87757742. Also, I think @darylng's comment about the difference in `\` and `/` in `getWorkingDirectory` and `rootPath` is relevant: https://github.com/atom/fuzzy-finder/issues/89#issuecomment-86592076. /cc @maxbrunsfeld about [these few lines](https://github.com/atom/

[2015-04-27 09:03] Tutorgaming commented on #87
Me not working either .

[2015-04-27 16:00] blimmer commented on #89
I'm not positive that this is the case, but I have a theory on what causes this.

If I start atom **before** I launch my development server (which writes to a .gitignore-d directory), I don't see the problem. However, when I launch atom and then launch my development server, I notice the issue.

Is it possible that atom will index any files that appear in the workspace after the initial load, even

[2015-04-27 17:06] maxbrunsfeld commented on #89
@kevinsawicki or @zcbenz might be more familiar with this. @darylng has [reported](https://github.com/atom/fuzzy-finder/issues/89#issuecomment-86592076) that [`Repository::getWorkingDirectory`](https://github.com/atom/git-utils#repositorygetworkingdirectory) is returning a `/`-delimited path on windows.

[2015-04-27 23:24] #89 closed

[2015-04-30 07:22] hannupekka commented on #70
:+1: for this. With ST3 it is also possible to open a file with right arrow, while keeping search results still open.

[2015-04-30 15:38] izuzak commented on #88
Thanks, @shuriktm.

@Trudko is that the behavior you're seeing as well?

[2015-04-30 16:41] #34 closed

[2015-04-30 22:29] rymohr opened #98 "General search behavior is too fuzzy"
When I'm searching for files with short names the file I'm trying to get to is usually buried within the search results, often below the fold.  And that's even when I'm using the exact filename.  Is there any way enable a stricter search behavior?

Kind of related to https://github.com/atom/fuzzy-finder/issues/57.

[2015-05-01 11:42] simurai commented on #17
Next to making the fuzzy finder wider, there could also be horizontal scrolling, but maybe not that great having to switch to mouse/trackpad.

Or the lines could wrap instead of truncate. This should work:

[code]

![screen shot 2015-04-15 at 9 18 40 pm](https://cloud.githubusercontent.com/assets/378023/7158449/2746a77a-e3b5-11e4-9366-097f2b52829e.png)

The question is, if the wrapping should be t

[2015-05-01 14:59] admpsktt commented on #70
:+1:

[2015-05-01 15:00] admpsktt commented on #70
As @hannupekka mentioned, having the ability to open multiple files but not necessarily in the same order as they appear in the search results would be great.

[2015-05-01 15:05] admpsktt commented on #70
If I'm not mistaken, I think [Helm](https://github.com/emacs-helm/helm) has a feature where you can mark files to be opened and do so simultaneously once you've made your selection(s).

[2015-05-01 16:34] admpsktt commented on #81
:+1:

[2015-05-01 19:53] izuzak commented on #81
This should be possible. Notice that the fuzzy finder view [supports splitting commands](https://github.com/atom/fuzzy-finder/blob/01b5f41a9e4abc65346be383c1a6b9b1f51e5dd6/lib/fuzzy-finder-view.coffee#L18-L28). So, if you execute `pane:split-right` while a specific file is selected in the fuzzy finder -- that file will be opened in a split view. The only thing left to do is that you customize your

[2015-05-01 19:55] izuzak opened #99 "Cmd-p index finds wrong file"
_From @davidthewatson on May 1, 2015 19:51_

I am using Atom 0.194.0 on Mac OS X 10.10.

I open a project directory. I then type Cmd-p and type,

    settings.ini

However, the selected file in the index is:

    settings.template

If I then press enter, the wrong file is loaded.

_Copied from original issue: atom/atom#6603_

[2015-05-01 19:59] izuzak commented on #99
@davidthewatson Strange -- I'm having trouble reproducing this, see GIF below.

![settings](https://cloud.githubusercontent.com/assets/38924/7436361/4d9910c6-f04d-11e4-861c-7ea24a321c4d.gif)

Do you see the same behavior in the latest version of Atom (0.196.0) and in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? If so, can you share a l

[2015-05-01 20:10] lee-dohm commented on #99
@izuzak I was able to *kind of* reproduce the issue when I placed `settings.template` in the root of the project and `settings.ini` in a directory a couple levels down **and only typed "settings" into the box**. But if they were at the same level in the directory structure then `settings.ini` came up first.

Could be the source of some confusion?

![screen shot 2015-05-01 at 1 02 32 pm](https://cl

[2015-05-01 20:14] izuzak commented on #99
@lee-dohm Yeah, that might be confusing but not sure it's the problem @davidthewatson is reporting. Looking at the issue report, I see this:

@davidthewatson what exactly did you type into the input box? `settings.ini` or just `settings`?

[2015-05-01 20:28] paulcsmith commented on #81
@izuzak Thank you! This worked brilliantly!

For others that want this behavior here are my keybindings

[code]

[2015-05-01 20:29] paulcsmith commented on #81
The only thing missing is opening a file in the same tab. I don't see commands for that :S

[2015-05-02 00:09] admpsktt commented on #81
:heart:

[2015-05-04 15:04] darylng commented on #89
Thanks everyone! Works for me now.

[2015-05-04 23:33] Aedaeum commented on #89
I just want to confirm it works for me too :smile:

[2015-05-05 13:32] LebedevAntony opened #100 "Exception raised on opening"
I've installed plugin 'grunt-runner' and after that fuzzy-finder is not able to get list of files in project.
When I press Ctrl + P i get following error:

module.js:330
    throw err;
          ^
Cannot find module 'atom' module.js:330
    throw err;
          ^
Error: Cannot find module 'atom'
    at Function.Module._resolveFilename (module.js:328:15)
    at Function.Module._load (module.js:270:

[2015-05-05 14:33] ev-mark commented on #88
I have also been seeing overly frequent index refreshes on 0.194.0 / Windows 8.1. This is for local projects. How long does the index persist by default? This would be daily re-indexing here. Any other details you need I can try to get?

[2015-05-05 15:21] LebedevAntony commented on #100
@izuzak Hm...your assumption is correct. It's not reproduced in safe mode. Looks like the problem is in grunt-runner.

[2015-05-05 15:21] #100 closed

[2015-05-05 21:58] coltonw commented on #89
Thanks everyone for their help! Works for me as well!
:tada:

Looks like it made it into Atom Version 0.196.0 for anyone wondering if this should be working for them or not.

[2015-05-06 13:03] vtsirkinidis commented on #22
This guy nails it:
https://virtual-host-discourse.global.ssl.fastly.net/uploads/github_atom/370/82f5e9a38b76322a.jpg

[2015-05-07 08:16] chrisyip opened #101 "Should list files that included by prefixing "!" in .gitignore"
Please take a look at this screenshot:

![atom](https://cloud.githubusercontent.com/assets/189559/7510907/750bfd5a-f4d3-11e4-8a36-891e7a3cdb77.png)

In my case, I need to add a `default` configuration in `config/`, and my colleagues can put their own configuration inside `config/` that won't be committed by accident. But after doing this, I can't use `CMD + T` to open any files under `config/`.

[2015-05-07 08:37] thomasjo commented on #101
You've excluded the folder, hence it doesn't matter that you negate the exclusion for certain files. You need to change `config/` to `config/*` to specifically exclude the contents of the folder, not the folder itself.

See the [official documentation](http://git-scm.com/docs/gitignore) for more details.

[2015-05-07 08:37] #101 closed

[2015-05-07 12:13] chrisyip commented on #101
![atom](https://cloud.githubusercontent.com/assets/189559/7514968/34681622-f4f5-11e4-9747-722ee28de8fc.png)

@thomasjo fuzzy finder still not working.

[2015-05-07 12:21] thomasjo commented on #101
Thanks for the update. I just tried, and I managed to repro. This issue is actually a duplicate of https://github.com/atom/fuzzy-finder/issues/65. Please subscribe to that issue for updates :bow:

[2015-05-12 12:07] captainbrosset commented on #88
This also happens to me.
MacOS Yosemite, Atom version: 0.198.0.

I work on a large codebase (the mozilla project) and so my preferred way of navigating the code is by using the cmd-P shortcut. I'm originally a ST2 user and just love this quick-jump to file/line way to navigate files.

Using Atom, I find this to be really slow.
Several things here:

* The first time I open the project and press cmd

[2015-05-14 00:34] mnquintana commented on #11
Added in fuzzy-finder v0.84.0 - should be in the next Atom release (0.199.0)!

[2015-05-14 00:34] #11 closed

[2015-05-15 04:34] gerrywastaken commented on #87
:+1: There are many symlink issues in Atom: https://discuss.atom.io/t/symbolic-link-directory-git-highlight-issue-and-other-issue-on-atom-shell-command/3324/4

[2015-05-17 12:39] saschagehlich commented on #55
This is a quite essential feature - I'm using preprocessors for my JavaScript (Babel) and fuzzy-finder always shows me my compiled files, even though they're ignored by .gitignore

[2015-05-19 22:29] kaskelotti opened #102 "Atom crashed when "Preserve Last Search" option was first taken into use"
For the first time I ticked the setting for "Preserve Last Search" and made a search, Atom hanged giving the usual option to wait for the editor to respond. After clicking the "Wait" button, Atom crashed.

After the editor restart, everything seems to work fine.

As a programmer, my first hunch is of course that there's a null pointer exception as there was no previously preserved search in this c

[2015-05-20 00:25] psalmody commented on #53
+1

[2015-05-20 01:44] lee-dohm commented on #102
Could you give the following information?

* Which version of Atom are you using?
* What OS and version are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?

I can't reproduce the issue using Atom v0.201.0-ba98013 on Mac OS X 10.10.3.

[2015-05-20 07:32] kaskelotti commented on #102
Atom is version **0.199.0** running on **Windows**.

Unable to reproduce using the safe mode. Are there logs available somewhere?

[2015-05-20 15:40] lee-dohm commented on #102
If it isn't reproducing using Safe Mode, then it is almost assuredly a third-party package causing the problem.

[2015-05-20 17:32] kaskelotti commented on #102
Apparently there's no way to reproduce this or get anymore information at this point. I vote for closing.

[2015-05-20 17:56] mnquintana commented on #102
Thanks for the updates @kaskelotti! I'm gonna close this. If you do find the offending package you can open an issue on their repo.

[2015-05-20 17:56] #102 closed

[2015-05-22 00:35] drewbrokke commented on #5
+1

[2015-05-26 10:07] freemanoid commented on #70
I think it would be super useful to implement either opening a file from suggestions without closing search results or selecting several files to open (e.g. mark a file to open with some shortcut) or even better to have both possibilities.

[2015-05-30 16:17] victorlcampos commented on #87
+1

[2015-06-01 16:48] maletor opened #107 "Cmd+t menu allows opening new file in same tab by using shift+enter or shift+click"
Discussed over on atom/tabs#145, but giving it a little more light here.

[2015-06-05 15:46] lee-dohm commented on #5
This feature is now available using the "Preview Tabs" feature. You can go into the Settings View, navigate to the tabs package settings and check "Use Preview Tabs":

![screen shot 2015-06-05 at 8 46 14 am](https://cloud.githubusercontent.com/assets/1038121/8009694/61b1c5e4-0b5f-11e5-9a18-91e2419bbe1a.png)

[2015-06-05 15:51] garand commented on #5
![giphy](https://cloud.githubusercontent.com/assets/82437/8009791/3216fa38-0b79-11e5-92fd-b194d9f9c101.gif)

[2015-06-05 15:56] mnquintana commented on #5
Actually @lee-dohm I think this request is slightly different from Preview Tabs as currently implemented – in the initial screenshot, files are previewed as they're selected in the fuzzy-finder, which currently isn't implemented.

[2015-06-05 15:57] lee-dohm commented on #5
Ah ok. Thanks for catching that. Still ... progress.

[2015-06-05 15:57] mehcode commented on #5
@mnquintana I'd agree. And this looks far easier for a quick PR now that Preview Tabs are implemented.

[2015-06-05 15:58] garand commented on #5
![tumblr_m0tq0c3odq1qe6dvp](https://cloud.githubusercontent.com/assets/82437/8009933/1c01b232-0b7a-11e5-8110-c043f1b1b259.gif)

[2015-06-10 12:09] josenicomaia commented on #14
+1

[2015-06-10 16:19] eviljoe opened #108 "Setting To Open Permanently When Using Preview Tabs"
There should be a setting to open selected files permanently when using the preview tabs feature from the [atom/tabs](https://github.com/atom/tabs) package.

[2015-06-10 16:40] mehcode commented on #108
I disagree. However there should be a key combination to open the file selected permanently (`Ctrl-Enter` or `Shift-Enter`; whatever sublime did). We should also auto open files in preview mode as they are selected with the fuzzy finder.

[2015-06-10 18:04] eviljoe commented on #108
As long as I can remap the "open permanently" action in the keymap to `Enter`, I would be happy with that solution.

[2015-06-11 09:07] limoragni commented on #14
+1

[2015-06-12 05:31] szabgab opened #109 "Limit search to current project?"
When editing a file, I usually need to open files inside the same project.
If I have multiple projects open in the tree view, fuzzy-finder will look for files in all of them.
Is there a way to limit it to search only in the project to which the current file belongs to?

[2015-06-12 10:09] mnquintana commented on #109
You can either right click on the project you want to search in and click Search in Directory, or you can open Find in Project and type in the project directory name in `File/directory pattern` - both have the same effect. Does that more or less cover what you're looking for?

[2015-06-12 14:53] szabgab commented on #109
@mnquintana those are both excellent suggestion for another question I had and I have not asked yet :), but not really what I wanted. At least as I understand after trying your suggestions, is that those are searching the content of the files.
I am looking for limiting the fuzzy-finder that (if I understand correctly) searches only in the names of the files, and further limit it to the current pro

[2015-06-12 15:00] mnquintana commented on #109
@szabgab Whoops, that's what I get for responding to issues at the crack of dawn. :laughing: That currently isn't possible exactly, but you can "fake" it by starting your search with the project directory name (e.g. `project-name/`). Of course, that won't work if any of the other projects you have open happen to have a directory with the same name and files that match your query.

[2015-06-20 03:32] doggan commented on #87
:+1: Still an issue (Atom 0.210.0 on Mac OS X).

Would love for this to get fixed or for a work-around (other than not using symlinks). Symlinking is especially useful when dealing with multiple versions of server code.

[2015-06-23 00:47] homakov commented on #109
Would really love this feature too

[2015-06-25 23:47] JackCA commented on #107
I'd love this. Seems related to https://github.com/atom/fuzzy-finder/issues/81

[2015-06-26 19:22] lucasfcunha commented on #5
+1

[2015-06-26 20:52] aiboy opened #110 "Uncaught TypeError: Arguments to path.join must be strings"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.87.0

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-29 07:46] garethweaver commented on #5
+1

[2015-06-29 07:56] ineu commented on #82
I think this behaviour is expected by most emacsers as this is how Helm and Ido behave.

[2015-06-29 20:29] vincentisambart opened #111 "On some folder, Cmd+T always tells me "Project is empty""
As you can see on the screenshot below:
![screen shot 2015-06-29 at 08 07 54](https://cloud.githubusercontent.com/assets/34704/8398733/0b060ac2-1e36-11e5-95a5-ef1c396f1a06.png)

Atom was started with `atom --safe <directoryname>`.
OS X 10.10.3, Atom 1.0.
Other folders work well.
(moved from atom/atom#7520)

[2015-06-29 22:53] vincentisambart commented on #111
It's probably because that directory is in the `.gitignore` of its parent directory.
Reproduction:
[code]
Then if you press Cmd+T you will get the screenshot above.

[2015-06-30 05:20] michaelaye commented on #111
Have the same problem and yes, I have another git repo above this project that ignores all folders to keep track of some general setting files that are applicable for all projects underneath. So my .gitignore has the line `*/`. Is there a workaround to still be able to use the fuzzy finder?

[2015-06-30 16:52] ejvaudio commented on #109
+1 would love to have both options as separate features that I can map to different keys. For example:

- fuzzy-finder:toggle-file-finder
- **fuzzy-finder:toggle-file-finder-in-current-project**

[2015-07-01 16:56] tuckbick commented on #57
+1

[2015-07-02 15:15] dwelle commented on #82
+1, I too wish for this feature. I usually search by filename and if the result turns out too broad I add specificity by adding a word or two which is generally out of order (containing folder etc.).

[2015-07-02 17:26] izuzak commented on #110
Thanks for the report, @aiboy -- can you reliably reproduce this? Does this happen for all projects or only some?

[2015-07-02 17:36] aiboy commented on #110
nope, sorry can't reproduce that any more.. looks like a combinations of plugins + project or just specific project configuration.

can't reproduce that anymore, but for me Arguments to path.join must be strings looks like there is extra

[].filter(function(item){ return typeof(item) === "string" }) is required..

[2015-07-02 20:23] andre-dietrich opened #112 "too much cpu"
Hi, I do not know why, but I had to disable the fuzzy-finder because it required too much CPU (100%) without it, atom works fine...

[2015-07-04 05:37] jwuwork commented on #5
Submitted a pull request #113 for this.  Enjoy! =)

[2015-07-06 18:53] hoqqanen opened #114 "Ignore paths in git submodules"
It looks like Exclude VCS Ignored Paths works when the top-level directory I'm in contains the .git file that ignores relevant paths. However when I'm in a project containing git submodules, fuzzy finder seems to include paths that aren't ignored by the top-level git ignore (but are ignored within the relevant submodule).

Ideally this would be recursively applied to directories and look at what's

[2015-07-06 21:07] janmarek commented on #43
Please. It is extremely helpful when you can for example search for "ArTF" and it immediately shows you "ArticleTableFactory" without any other non-relevant results.

Or even better would be to show the results with correct case on the top of the list. Without the need to set anything.

[2015-07-07 17:08] izuzak opened #115 "Support jumping to a specific line:column in a file, not just line"
Discussed here: https://github.com/atom/go-to-line/issues/22

cc @colin-kiegel @maxbrunsfeld

[2015-07-07 18:59] spencern commented on #111
Same issue here.
Happening for directories that are `.gitignored` in parent for me as well.

[2015-07-08 08:00] Valve opened #116 "Fuzzy finder should prefer changed files when other factors are equa"
When searching for a file, fuzzy finder returns a list of suggestions.
When all factors from 2 files match, fuzzy finder should always return the file with recent edits/uncommited changes first.

[2015-07-09 22:05] rschaaf opened #118 "Uncaught Error: ENOENT: no such file or directory, open '/Users/robertschaaf/Downloads/Atom.app/C..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.87.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/Users/*****/Downloads/Atom.app/Contents/Resources/app.asar'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2015-07-09 22:05] rschaaf commented on #118
This happened when I said "talky" while using atom.

[2015-07-10 06:37] csholmq commented on #59
+1

Just tried "out\, .svn\, _tests\" without success. Still returns results in out folder.

Same syntax works in Core settings and takes effect in Find in Project.

[2015-07-10 12:57] walles commented on #21
Improved sorting / scoring:
https://github.com/atom/fuzzaldrin/pull/22

The above pull request addresses at least some of the issues raised here.

[2015-07-10 15:13] izuzak commented on #118
@rschaaf Can you reliably reproduce this? Can you reproduce after you move Atom.app to the Applications folder in OSX?

[2015-07-10 16:13] izuzak commented on #112
@andre-dietrich Can you share a bit [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues)?

[2015-07-10 18:37] jeancroy commented on #57
https://github.com/atom/fuzzaldrin/pull/22 should cover this, I migth add your case to the test

[2015-07-10 19:58] alexbuzzbee opened #119 "Fuzzy finder does not update without window refresh"
After opening a project and creating several new files, pressing cmd+t and typing the name of a file in my project fails to find the file. After ctrl+option+cmd+L (window:reload), the files are found. Unfortunately, I'm not 100% sure what causes the bug, so I can't reproduce for screenshots + steps...

[2015-07-10 21:41] rschaaf commented on #118
I restarted atom, and I'm no longer able to reproduce the error.

[2015-07-10 21:50] mnquintana commented on #118
@rschaaf Were you running Atom out of your Downloads/ folder?

[2015-07-10 22:58] rschaaf commented on #118
I apologize; I realize now that I failed to answer your question the first time.

Yes, I at one point was running it out of the downloads folder.  When I got the error the first time, I had already moved Atom to the Applications folder, but I don't think I had since restarted it.

[2015-07-11 00:15] aaronjensen opened #120 "gitignore doesn't work if atom is opened within subdirectory of git repo"
I don't know if this is a fuzzy-finder or a core problem, but if I'm in a subdirectory of a git repo when I open atom the gitignore is... ignored.

[2015-07-13 10:28] jeremejazz commented on #14
:+1:

[2015-07-13 20:21] ryanmclaughlin commented on #87
:+1: Still an issue

[2015-07-14 17:55] aev1tas opened #121 "Keeping Fuzzy finder search field active when switching focus away from Atom"
Hi,

would it be possible to implement a menu option, that keeps the command pallete and fuzzy finder windows open and available even after having switched apps on Mac. For example, start typing in the finder, switch to firefox to look something up, switch back to Atom and the fuzzy finder is still opened and has preserved your search.

Kind Regards,
aev1tas

[2015-07-14 23:29] snorp commented on #88
I also have been trying to use Atom here at Mozilla, and am encountering this problem. If I disable the fuzzy-finder package, the problems goes away.

While this problem is occurring, I see a lot of CPU usage in opendirectoryd and automountd. I used odutil to turn on logging for opendiscoveryd and it yields the following:

2015-07-14 16:26:01.408216 PDT - AID: 0x0000000000000000 - 73687.39262048 -

[2015-07-14 23:37] snorp commented on #88
The last answer here seems to apply: http://superuser.com/questions/350879/opendirectoryd-consumes-40-of-cpu

[2015-07-14 23:43] 50Wliu commented on #121
Hey @aev1tas, this looks like it's a duplicate of atom/atom#1918 - could you subscribe there instead?  Thanks.

[2015-07-14 23:43] #121 closed

[2015-07-15 06:07] svewag commented on #70
:+1:

[2015-07-15 18:35] jancborchardt commented on #88
Same here, have been using Atom to work on ownCloud since some time. Version 1.0 still indexes the whole project every time newly all files have to be indexed first. For big projects this can take some time.

Instead the index should be cached to make the search immediately available instead of blocking it. Of course it can then index in the background.

Let me know if I can help debug this someho

[2015-07-17 12:35] iofjuupasli opened #122 "next/prev result"
I want to step through results with `ctrl-p` and `ctrl-n`. But I can't find commands to create custom bindings.

[2015-07-17 17:20] LucioFranco commented on #108
+1 Would like to see something like this

[2015-07-17 21:00] tnrich commented on #84
+1 This is a showstopper for me as it is..

[2015-07-18 00:28] mehcode commented on #84
I have an alternative (and maybe more general) suggestion. Drop the `maxItems` concept at all and lazy-load items 10-15 at a time while scrolling.

[2015-07-20 10:40] idmean commented on #88
I also had this problem after I installed a new node module. I fixed it by simply ignoring the node_modules directory:

[code]

[2015-07-21 01:04] gregplaysguitar opened #123 "cmd+t (etc) should always open the fuzzy finder, rather than toggling"
With other Atom functions (like project find) repeating the keystroke resets the dialog ready for a new search, rather than closing it. With the fuzzy finder, I often find myself hitting cmd+t to start a new search, not realising it's already open, and then end up typing my search into the current document. The escape key closes the dialog; so there's no need for this toggling behaviour.

[2015-07-21 01:05] gregplaysguitar commented on #123
Also, I looked into overriding the keybinding but I couldn't see a way to do it, since there's no "open-file-finder" command to go with "toggle-file-finder"

[2015-07-21 14:53] maaarghk commented on #111
This is happening here also; I would expect the .gitignore which is up a few levels not to be read as the project itself has its own .git folder; is there a more appropriate place to raise this bug to do with the way ignoredNames are dealt with, or is this with the fuzzy-finder project?

[2015-07-22 00:09] hsuttong commented on #30
I'm hitting this as well: Atom (1.0.2), fuzzy-finder (0.87.0).
Once I opened the file from the tree view fuzzy-finder can find the file, but not before that.

[2015-07-22 14:31] felipou opened #124 "Shortcut to search ignored files"
I find my self frequently needing to open files ignored by the VCS. But I don't want the fuzzy finder to search for ignored all the time, only once in a while. I know there is an option to make the fuzzy finder search for ignored files, what I want is a kind of shortcut for that option (or, perhaps even better, a shortcut that enables the options only for the current search).

I'd like to implemen

[2015-07-23 14:05] jeancroy commented on #69
It looks like the mac file system does that (split ü into u + ¨)

http://stackoverflow.com/questions/5581857/git-and-the-umlaut-problem-on-mac-os-x/5582403#5582403

[2015-07-23 14:37] maaarghk commented on #111
^ further to this, it seems fuzzy finder is the only thing which is affected, everything else manages alright. So I think this is the correct place for this bug.

[2015-07-23 14:38] maaarghk commented on #120
See issue #111 - related?

[2015-07-23 15:10] aaronjensen commented on #120
hmm, related in that the two issues kinda seem at odds to each other. My problem is that the parent dir gitignore isn't used.

Example:

.gitignore:
[code]

folder structure:
[code]

If I open `atom client` then `node_modules` is not ignored. If I open `atom .` then `node_modules` is ignored.

[2015-07-23 15:11] aaronjensen commented on #111
From what I can tell, the issue only seems to be with `*/` being ignored. If you simply ignore `CocoaPods`  it works as expected.

[2015-07-24 13:38] mkorfmann commented on #21
Since I'm working on a lot of Rails projects with ActiveAdmin, I'm often annoyed when I end up in an ActiveAdmin file for a particular resource instead of a model file.

I was thinking about improving this by sorting the fuzzy-finder results by usage. I.e. if a files in some folder are worked on more often, they are ranked higher.

I'm happy to implement this experimentally and make a pull request

[2015-07-27 09:54] maaarghk commented on #111
^ can confirm.

I have the following structure

[code]

If I put "things" in /project/.gitignore then fuzzy finder works as expected with thing1/thing2 folders as project base directories.

If I however put in /project/things/.gitignore :
[code]
because I want the folder to remain empty in source control, then the fuzzy finder does not work correctly in the same situation.

[2015-07-28 23:23] kevinsawicki commented on #36
Closing this out in favor of https://github.com/atom/fuzzaldrin/issues/23 which talks about improving the scoring algorithm across all fuzzy find boxes in Atom.

[2015-07-28 23:23] #36 closed

[2015-07-29 21:04] izuzak commented on #118
I think that explains things -- Atom was still running and tried to load more resources from the previous location, but there was nothing there since you moved it to the new location. If you run into this again -- let us know.

[2015-07-29 21:04] #118 closed

[2015-07-30 14:54] alvinsight opened #125 "Favour text/code files rathen than binary files (images/sounds)"
Hi,

First, thanks for this awesome editor, I'm really enjoying it so far.

My problem is that when using the fuzzy finder, Atom tends to show binary files first, which are not what a text editor is meant to open in the first place.
Example : if I type : dtGame,
The suggestions are : dt_ui_game.mp3, and other sounds before DoubleTroubleGame.js

There is probably a way to keep a list of extensions

[2015-07-30 17:35] Soleone commented on #21
:+1: for some improvements that make finding commonly used files easier. sublime seemed to have done a better job putting the file i actually want to open at the top (using rails here as well)

[2015-08-03 20:28] manishtpatel commented on #120
+1, even adding .gitignore at client folder level does not help.

[2015-08-04 16:05] ptoomey3 opened #126 "reindexing clears recent file history"
Let's say I open 5 different files in atom using the fuzzy-finder. If I hit command-p (on Mac) I will see those 5 files in reverse order in the fuzzy-finder dropdown. However, once every few minutes when I hit command-p I get the "Reindexing Project" and all of my recent files are cleared from that drop down once indexing is finished.

[2015-08-05 11:26] zettler opened #127 "Search content as well"
When using fuzzy finder, it only searches the names of the documents, not the content. How can this be changed?

[2015-08-05 11:51] mnquintana commented on #127
fuzzy-finder is only meant to search names - you want to use [find-and-replace](https://github.com/atom/find-and-replace)'s Project Search to [search content](https://atom.io/docs/latest/using-atom-find-and-replace).

[2015-08-05 11:51] #127 closed

[2015-08-07 08:41] enguerran commented on #65
It seems related to https://github.com/atom/tree-view/issues/196, doesn't it?

[2015-08-07 14:08] KevinHivert commented on #65
Yes, I think it is.
If the tree view doesn't track the files then fuzzy finders (and find in project too) will not work for them...

Maybe you could try that :
[code]

[2015-08-08 01:23] opensourceportfolio commented on #120
same issue here

[2015-08-08 09:21] adius opened #129 "Remove duplication of toggle-file-finder shortcut"
Why are there 2 shortcuts for toggle-file-finder?
It seems like it would make much more sense to use only `cmd-T` to toggle the file-finder and use `cmd-P` for something else. Maybe even replace `cmd-shift-P` with `cmd-P`, as it is "probably the most important command in Atom" (as stated in the flight manual) and should therefore better be assigned to a  2 key instead of a 3 key shortcut.

[2015-08-08 22:24] 50Wliu commented on #129
Please see #78, #92, and #106, which all aim to solve this problem.

[2015-08-08 22:24] #129 closed

[2015-08-10 17:39] augbog opened #130 "Way to customize prioritization of certain folders?"
I was wondering if there is a way to prioritize certain folders over others? I know you can ignore folders but I do not want to necessarily ignore them -- I simply want them at the bottom of the search results. This is useful for cases where I am only working in certain folders or if my project has localization files that do not need to be always searched.

This may be related to https://github.co

[2015-08-11 18:31] MrTact commented on #99
I have been running into something similar to this myself. For example, I have a large-ish project in which I was searching for a file called ResourceConstants.java. Typing "res" got me a file called "requirements.yml." Only if I typed the entire filename would the fuzzy finder correctly pick the java file (and I think it wouldn't even show up in the list, in fact). However, creating a test projec

[2015-08-13 15:09] bbudd commented on #84
Can I +∞ this?

Right now my workaround is in my `init.coffee` script (idea given to me by someone else):

[code]

[2015-08-14 16:14] JustinAiken commented on #22
That link is gone; how do ignore a directory (that's not gitignored) ?

[2015-08-14 18:26] ismael2395 opened #131 "Uncaught Error: ENOENT: no such file or directory, open '/Users/Ismael/Documents/Hard_Disk/Atom.a..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Mac OS X 10.10.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.87.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/Users/Ismael/Documents/Hard_Disk/Atom.app/Contents/Resources/app.asar'

[code]

### Commands

[code]

### Config

[code]

### Installe

[2015-08-17 11:08] andykenward commented on #120
Having the same issue working in a sub directory of a repo that has its own `.gitignore`.
Changing to root of the repo solves the issue for me.

[2015-08-21 19:02] Soleone commented on #57
i agree, this is actually _the_ major issue with atom right now compared to sublime. i hope this gets the prioritization that it deserves. i talked to a couple of people at work and they all agree that this is the most annoying issue and for some even showstopper to move away from e.g. sublime.

no exaggeration, 75% of the time the file i'm searching for is not at the top (like it used to in subli

[2015-08-21 19:46] jeancroy commented on #57
Ok. This is because
1. Your request is valid for both the *.liquid file and the *.erb file
2. Fuzzaldrin have some preference for shorter entry, this should work in favor of your `_notification.html.erb` over `something_notification.html.liquid`
3. Unfortunaltely for this case, fuzzaldrin also prefer entry that are less deep. Your .erb file is 4 directory deep while .liquid are 3 directory deep.

[2015-08-21 19:51] Soleone commented on #57
thanks for the quick reply and explanations, appreciate it!

you're right that using `_noti.erb` brings it up. in general i feel that the scoring should favor files that match the beginning of the filename no matter which directory. so if i type `_notifi` are there really a lot of use cases where it makes sense to not have all files that start with an exact match to be right at the top?

[2015-08-21 20:11] jeancroy commented on #57
Scoring of the beginning in current version, only apply to first letter. eg both `_` match.
I've changed it so every char has a preference for being toward the start (and the strength of that preference decrease as char are near the end of the string) So that should help your expectation.

Directory depth definitely play a role. An exact match at the start buried 30 directory away might be unexpec

[2015-08-21 20:16] Soleone commented on #57
:heart: thanks! once this goes out and i can test it out, i can provide more feedback

[2015-08-25 18:15] nielsAD commented on #120
So this appears to be expected behaviour, according to the [tests](https://github.com/atom/fuzzy-finder/blob/master/spec/fuzzy-finder-spec.coffee#L946). I'm not sure if it's desired behaviour, though, as tree-view appears to flag the files as ignored.

[2015-08-25 19:08] will-in-wi opened #134 "gitignored symlink is followed and indexed"
In my project, I have a gitignored location which is a symlink to a folder outside of the project directory. Yet, this symlink is followed and indexed.

I would expect the ignored symlink to not be indexed.

Thanks!

[2015-08-25 20:36] aaronjensen commented on #120
I definitely do not desire it :)

[2015-08-26 12:04] nielsAD commented on #120
It looks like tree-view's "Hide VCS Ignored Files" setting has a similar behaviour; items are only hidden when you are actually working in the root of the VCS. Ignored files are still greyed out, though, when you are working in a subdirectory.

I'm not sure what the best solution would be... Maybe an extra setting? Or maybe the sorting should take ignored files into account and place them lower on

[2015-08-28 07:58] Hushpar opened #135 "Uncaught TypeError: Cannot redefine property: .ts"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.8
**System**: Unknown Windows Version
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot redefine property: .ts

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-28 08:51] izuzak commented on #135
No need to open the same issue twice, I'm going to close this in favor of https://github.com/atom/atom/issues/8551.

[2015-08-28 08:51] #135 closed

[2015-08-28 11:38] maaarghk commented on #120
Surely they would ideally both act in the same way which the relevant VCS works? An extra setting would be strange, it'd be an option to be inconsistent and therefore not useful.

[2015-08-28 13:55] nielsAD commented on #120
The best solution I can think of is that we let it depend on the root directory. If that one is ignored by the VCS, we do not use the VCS ignores and just display everything. Otherwise, we inherit the VCS ignores.

[2015-08-28 15:23] maaarghk commented on #120
Sort of - a working directory which is itself .gitignored, but has its own .git folder (i.e. git submodule), should not process the parent .gitignore. It should use the .gitignore of the working directory (but not ignore it.)

[2015-08-29 15:26] JesseLeite commented on #57
I'm having same issues.  In this screencast example, I'm looking for Model.php deep within /vendor.  You'll see it exists in sidebar, but fuzzy finder doesn't show Model.php within the result set unless I explicitly type 'Model.php' with file extension.  (Note: I have 'Exclude VCS Ignored Paths' unchecked, so Atom is indexing within /vendor.)

[Example Screencast](http://recordit.co/3J13jqCKQ9)

A

[2015-08-29 15:30] JesseLeite commented on #91
I have exact same problem.  Model.php should really be near the top of the list by just searching for `Model`, but fuzzy finder doesn't even show this file in the result set unless more info is given.

[Example Screencast](http://recordit.co/3J13jqCKQ9)

Maybe related to scoring as well?  See... https://github.com/atom/fuzzy-finder/issues/57

[2015-08-29 15:55] jeancroy commented on #57
@JesseLeite : not sure what to say on that one, one thing improved in https://github.com/atom/fuzzaldrin/pull/22 is grouping of character as well as exact match. So things that contain **model** as a word should rank before those that contain model as individual characters eg "s**mo**ke.**de**fau**l**t"

[2015-08-30 04:28] JesseLeite commented on #57
@jeancroy Yeah this scoring algorithm stuff is pretty over my head. I don't want to beat a dead horse, but I find it's very well handled in Sublime Text. Is Sublime's scoring algorithm publicly known?  Honestly, it's pretty much the only thing I miss from Sublime.

[2015-08-30 18:44] followtheart opened #136 "Duplicated keybindings of Ctrl-t and ctrl-p"
Do Ctrl-T and ctrl-p duplicated in default?
[code]

[2015-08-30 21:06] 50Wliu commented on #136
Please see #106, #92, and #78 for PRs that are aiming to remove one of the two keybindings.

[2015-08-30 21:06] #136 closed

[2015-09-02 23:04] ds8k commented on #126
Same issue here. It's incredibly annoying when the list changes the second I hit Enter and I end up opening the wrong file.

[2015-09-04 16:19] shayfrendt commented on #30
I've run into this frequently as well and noticed that if you wait about ~2 seconds, the fuzzy finder eventually completes reindexing and finds the new file:

On initial search:
![screen shot 2015-09-04 at 12 15 16 pm](https://cloud.githubusercontent.com/assets/32535/9688678/b4bbdc16-52fe-11e5-8c39-5ee7b02058eb.png)

Then after about 2 seconds:
![screen shot 2015-09-04 at 12 15 20 pm](https://clou

[2015-09-05 22:05] dsernst commented on #57
This is the prevailing view by everyone who's used Atom on our team, too. Even one of its loudest proponents switched back to Sublime because he found the fuzzy-finder just too frustrating to deal with.

[2015-09-08 14:32] gibsjose commented on #119
+1

[2015-09-08 14:32] gibsjose commented on #30
+1

[2015-09-08 16:26] mnquintana commented on #119
This looks like a duplicate of https://github.com/atom/fuzzy-finder/issues/30 - closing out in favor of that issue. Let me know if I'm misunderstanding though!

[2015-09-08 16:26] #119 closed

[2015-09-08 18:39] dmnd commented on #21
Just in case further examples are helpful:

![image](https://cloud.githubusercontent.com/assets/4427/9743999/2b4e4856-561e-11e5-8f97-01187fbd7235.png)

[2015-09-09 19:20] izuzak commented on #99
I'm going to close this since we weren't able to reproduce this and didn't heard back from @davidthewatson.

The other problems described in this thread seem to be related with how fuzzy finder scores matches, not with fuzzy finder selecting a file which should never be selected. There are other issues open on this package and on https://github.com/atom/fuzzaldrin which discuss such problems.

@da

[2015-09-09 19:20] #99 closed

[2015-09-09 23:04] blairanderson opened #138 "search behavior is inconsistent"
3rd item should be first
![screen shot 2015-09-09 at 3 52 06 pm](https://cloud.githubusercontent.com/assets/955736/9776338/2b4ed0de-570c-11e5-8788-578c2d28c111.png)

2nd item should be first
![screen shot 2015-09-09 at 3 50 58 pm](https://cloud.githubusercontent.com/assets/955736/9776339/2b4f5374-570c-11e5-896b-1d0868215dd8.png)

becomes first after arbitrary letters are added
![screen shot 2015-0

[2015-09-13 15:03] rafaelmaiolla opened #139 "Use providers instead of native libraries"
I'm writing a new package for Atom and I would like to use Fuzzy Finder in it, but because it uses the fs library instead of a Directory provider to get the files in that path, I can't use.

Can't we change the code to use providers instead of native libraries?

[2015-09-14 06:59] ipanardian commented on #14
+1

[2015-09-16 01:59] Yusufirwandi commented on #109
+1, I have multiple projects in atom and some of the files have the same name, when i tried to search, other project files are included too.

[2015-09-16 07:40] hedefalk opened #140 "I get hits that are both in core.ignoredNames" and fuzzy-finder.ignoredNames AND .gitignore"
I have tried everything to get rid of hits in the build output folder "target". It's .gitignored.

In core settings:
[code]

Also

exclude VCS Ignored Paths is checked so no settings for this in config.cson (since default right?).

But I still get stuff from target. How can this be?

<img width="254" alt="screen shot 2015-09-16 at 09 31 49" src="https://cloud.githubusercontent.com/assets/116520/98

[2015-09-16 11:50] izuzak commented on #140
@hedefalk Can you try separating path elements with a `, ` instead of with just a space? Notice that this is how settings show you paths ignored by default:

<img width="687" alt="screen shot 2015-09-16 at 13 47 03" src="https://cloud.githubusercontent.com/assets/38924/9903802/920aab6e-5c79-11e5-9236-cbff1fdbadad.png">

Try using that for ignored names in fuzzy finder and core settings.

If that d

[2015-09-16 11:50] #140 closed

[2015-09-16 12:00] hedefalk commented on #140
Oh, that was easy :+1:

Wonder where I got that space separated list from. Would have "default guessed" `,` so I'll blame some unspecified misinformation I must have gotten at some point :)

[2015-09-19 01:20] mrvisser commented on #65
Here's my `.gitignore`:

[code]

It appears the file list doesn't indicate that a file such as `api.js` is being ignored:

![image](https://cloud.githubusercontent.com/assets/102265/9973919/d9e39afe-5e4a-11e5-8a9e-1deee52f5d54.png)

However fuzzy-search won't find the file:

![image](https://cloud.githubusercontent.com/assets/102265/9973922/f17de8c2-5e4a-11e5-946b-8a5309c4144e.png)

Atom 1.0.14 /

[2015-09-21 08:49] KevinHivert commented on #65
Try to add :  !/node_modules
before :  /node_modules/*

It changes nothing for git but seems to resolve issues with atom tree-view and fuzzy finder.

[2015-09-23 15:12] TJBeta commented on #14
+1

[2015-09-23 20:31] natew opened #141 "Prioritize based on "nearness" to current file"
This would be a huge boost in productivity for me. Often I keep a directory open with a lot of modules that are related. When I'm in one project though it fuzzy finds a ton of other things first.

[2015-09-26 04:37] joowh85 commented on #30
+1

[2015-09-30 04:55] walles opened #143 "0.90.0 not available in my Atom"
Hi!

I'm using Atom 1.0.19 on OS X 10.10.5.

My Atom says that `fuzzy-finder` is at version `0.88.0`.

I would have expected Fuzzy Finder to be at `0.90.0` (which was released almost a week ago now).

If I go to Settings / Updates and Check for Updates, I'm informed that "All of your installed packages are up to date".

Other packages seem to update just fine; I get updates from time to time.

Is

[2015-09-30 05:22] mehcode commented on #143
Built-in packages are locked at what Atom's package.json defines.

https://github.com/atom/atom/blob/v1.0.19/package.json#L96

[2015-09-30 05:52] thomasjo commented on #143
As pointed out by @mehcode, this package is bundled with Atom and v0.90.0 (or later) will be available in the next release of Atom (most likely v1.0.20).

[2015-09-30 05:52] #143 closed

[2015-10-01 18:04] ptoomey3 commented on #126
I saw that the "needs-reproduction" label was added to this issue. The simplest way I have found to reproduce this is by opening up a bunch of files using fuzzy-finder. Then switch to another application. You can either click on another application window or do something like command-tab (on Mac). Then switch back to Atom. When you hit command-p you will see that your project is reindexed and the

[2015-10-05 21:11] gdaolewe commented on #41
:+1: Large project with a lot of files, exact matches are often buried by results that have several of the search characters but spread far apart. This makes fuzzy finder almost less useful than if it weren't fuzzy at all.

[2015-10-05 23:16] ytrezq commented on #126
@ptoomey3 : Sorry for telling about it here, but please check your e‑mail replies.

[2015-10-06 12:08] benzen commented on #41
I would argue that it's quite frequent to prefer matching at the end of the
file path than anywhere at the begining.
I mean the file name it almost always the only part of the path that i can
recall

2015-10-05 17:11 GMT-04:00 gdaolewe <notifications@github.com>:

--
Benjamin DREUX

[2015-10-07 03:25] chamini2 commented on #138
Completely agree, the fuzzy finding should award more points to letters next to each other, no spread like the match it shows.

[2015-10-10 23:18] bronson commented on #41
Related to #98 no doubt.

@izuzak this feels buggy to me.  Not sure I agree with the enhancement label.

<img width="722" alt="screen shot 2015-10-10 at 4 12 29 pm" src="https://cloud.githubusercontent.com/assets/1776/10413750/c5bc926c-6f69-11e5-8122-8020e23ac1e0.png">

Yes I want job_spec.rb...  that's what I'm typing ain't it?  :)

[2015-10-11 01:11] timscott commented on #41
@broson Yes, this is the exact case. Because of this, a simple starts-with search would be better like 80% of the time.

[2015-10-15 01:55] forivall commented on #114
+1 (bump)

[2015-10-21 09:52] shadoWalker89 commented on #88
Having the same issue  on Windows 8.1 using atom 1.0.19

[2015-10-22 00:09] SgtPooki commented on #88
Atom reindexes project folders that are on a samba mount every day.
Atom 1.0.19
Yosemite 10.10.5

[2015-10-22 14:35] SamuelTissot commented on #14
+1

[2015-10-24 21:35] slobo commented on #70
:+1:

[2015-10-27 19:59] gdaolewe commented on #41
@benzen I agree that it prefer matching the filename rather than the path, but it should prefer matching towards the beginning of the filename itself. If the matching is done on the full path + filename as one string, I think that's quite wrong.

I don't know how many I speak for, but I almost never type part of the path to find a file; the only reason I would is this exact scenario, where typing

[2015-10-27 20:13] benzen commented on #41
Maybe I badly explained myself, but I totally agree with @gdaolewe

[2015-10-28 19:29] kayone commented on #138
I'm really surprised this isn't getting any attention, I could type the full name of a file and it shows me items that don't really match what I type. this is a pretty core part of the editor and it's basically broken.

[2015-10-28 19:47] 50Wliu commented on #138
It has.  In the latest betas you can now turn on the experimental "Use Alternate Scoring" option.  I'm also going to close this in favor of #57 (and also jeancroy/fuzzaldrin-plus#1).

[2015-10-28 19:47] #138 closed

[2015-10-29 20:22] blairanderson commented on #57
The scoring mechanism for the github [file finder](https://github.com/blog/793-introducing-the-file-finder) is far and beyond better than this one currently used.

Can add attempt to add this with another config mechanism?

https://twitter.com/tmm1/status/659781507041529856

https://github.com/joshaven/string_score

[2015-10-29 20:28] Soleone commented on #57
that might be interesting if an open source library can be used instead of having to maintain separate scoring algorithm

[2015-10-29 20:41] JesseLeite commented on #57
Hey @blairanderson @Soleone, the [Atom Beta](https://atom.io/beta) stream has an experimental setting that you can enable, which swaps out the fuzzy finder algorithm for @jeancroy's [fuzzaldrin/plus](https://github.com/jeancroy/fuzzaldrin-plus).  It's still experimental and might need some tuning, but it's MUCH closer feeling to Sublime's fuzzy finder.  Just install [Atom Beta](https://atom.io/bet

[2015-10-29 20:47] Soleone commented on #57
Hey @JesseLeite, I can't speak for @blairanderson but from my side I am already using @jeancroy's version right now. It does work great!

@blairanderson maybe give that a try if you haven't already and update here if it behaves just as good, worse or better than the github version.

@JesseLeite In any case I think the main takeaway here might be that if https://github.com/joshaven/string_score sol

[2015-10-29 20:54] blairanderson commented on #57
confirming, beta version is much better

[2015-10-29 21:12] JesseLeite commented on #57
Shhh, you might make the @jeancroy cry!  He's put in a ton of hours into that thing :)

Anyway, I can't vouch for one or the other since I don't know the nitty gritty details.  However, @jeancroy did open source and modularize his.  However Atom implements, it'll obviously stay open source.

[2015-10-29 21:18] jeancroy commented on #57
Normal fuzzaldrin IS a wraper arround joshaven/string_score. You basically already know how it behave.
And I'll say this. It'll perform well 80% of the time. But you have almost no control over the next 20%.

[2015-10-29 21:26] jeancroy commented on #57
@ blairanderson command-t scoring is sound too. Would be interesting to compare results.

[2015-10-29 21:34] JesseLeite commented on #57
Is there difference between CMD-T and CMD-P?

[2015-10-29 21:36] jeancroy commented on #57
it's the name of a project https://github.com/wincent/Command-T

[2015-10-29 21:50] JesseLeite opened #148 "Option to ignore VCS excluded paths?"
I know this sounds a bit crazy, but I have the `Exclude VCS Ignored Paths` option checked so that I can do a project-wide find and replace without touching vendor dependencies.

![screen shot 2015-10-29 at 5 24 29 pm](https://cloud.githubusercontent.com/assets/5187394/10832535/648021fa-7e62-11e5-8a0d-adf17a7265c6.png)

For example, I'm a heavy Laravel user, which uses PHP composer to pull dependen

[2015-10-30 11:40] thedaniel commented on #148
There's probably some way to provide this functionality within the editor, I know I find myself dropping into the terminal and using grep for it from time to time - I'm not sure if that is a setting, or a separate fuzzy-finder command for searching the full project without ignores. In any case, I'll add some labels and cc @atom/feedback for now.

[2015-10-31 18:48] kandros commented on #88
Local folder, linux atom 1.1
@idmean where i'm supposed to put this to remove node_modules from indexing?

[2015-10-31 19:00] idmean commented on #88
@kandros Into your `config.cson`

[2015-10-31 19:12] kandros commented on #88
@idmean not working :( even restarted

[2015-11-01 10:56] eafzali commented on #14
+1

[2015-11-02 23:35] jfrazier commented on #65
I was having the same issue, where the negated file ignore entries (using !) were not being picked up by fuzzy finder or in the tree view. Using the work around that @KevinHivert suggested fixes the issue.

Original:
node_modules
!src/node_modules

changed it to:
!src/node_modules
node_modules/*

Clue:
I changed my original to:

node_modules
!src/node_modules

to:

node_modules/*
!src/nodemodules

[2015-11-05 18:35] hdavidzhu opened #150 "Finder should prioritize order based on most frequently used."
Similar to Google's search omnibar. I open some files way more than others, and would like those files to be at the top of my results list.

[2015-11-06 01:13] laskos commented on #150
:+1:

[2015-11-06 13:47] grobmeier commented on #77
I have the "project is empty" issue with Version 1.1.0 again - no symlinks.

[2015-11-06 18:11] tonatiuh commented on #81
Thanks @paulcsmith. That works.

Any news on opening the file in the current tab?

[2015-11-06 22:35] lee-dohm commented on #150
When do you want it to prioritize order in this way? Before you start typing anything? Only on ties? Or do you want it to do some sort of weird partial sort where even a closer typed match could be beaten by a file used more often?

[2015-11-06 23:39] hdavidzhu commented on #150
Behavior-wise, I would probably want caching for the files that I search when that project is open. During that session, files that open more would gain additional weighting, something like a history weighting.

In the beginning all files can have the same weight. Eventually, this weight will shift depending on the opened history. It could be duration opened, how many times opened, etc.

I would i

[2015-11-07 00:21] lee-dohm commented on #150
I think we would have to be really, really careful to not break people's expectations if we were going to weight things on something other than "best match".

/cc @jeancroy (who did a bunch of work on enhancing the fuzzy match algorithm recently in https://github.com/atom/fuzzaldrin/pull/22)

[2015-11-07 01:04] jeancroy commented on #150
Yeah, that's a non obvious request because if two path are different, then we should be able to select one of them based on the query.

What was supper useful in making fuzzaldrin-plus was TONS of user report. That put a collective definition on what is intuitive behavior.

Whatever we end up doing, I'm pretty sure the final form will be a narrow peak. For example autocomplete plus boost the score

[2015-11-07 15:38] jeancroy commented on #150
Would something like that make sens ?

1. Initial screen is filled with promoted results. (Frequent and/or recent)
    Alphabetical results are added as needed to fill the visible list.

2. Promoted result have a bonus such that typing first char of query to select result will not make it jump from first to last.

3. Bonus is set such as valid result (non zero score) are artificially kept in the r

[2015-11-07 21:39] sarink commented on #81
+1 for a shortcut to open files in the current tab

[2015-11-10 12:37] kolis commented on #126
+1
Very annoying, just switching to another application clears the history and rebuilds index, using Mac OS X

[2015-11-13 00:43] kemayo commented on #120
For another consistency point: find-in-project will respect the parent gitignore for this.

[2015-11-13 01:19] kemayo commented on #120
#152 would, as a side-effect, make it _super easy_ to either toggle this behavior or add an option for it.

[2015-11-13 08:41] impinball commented on #65
Having same issue.

[2015-11-13 13:11] envygeeks opened #153 "Extremely slow since 1.2.0 (Atom.)"
With the release of Atom 1.2.0 fuzzy-finder is now extremely slow.  Where before it would instantly display results and react much faster to my typing, now it delays so much that I'm done typing before it even finds the first result and I feel like I could slam my head on the table 3 or 4 times before it even discovers the result.

[2015-11-13 13:18] envygeeks commented on #153
I've discovered it's because we had a link to a large folder with about a thousand files but I didn't notice that problem prior to 1.2.0 so I don't know if there is a perf problem somewhere.

[2015-11-15 16:34] dwelle commented on #109
:+1:

[2015-11-17 16:52] asiniy commented on #148
+1

[2015-11-17 18:02] JesseLeite commented on #148
Thanks @thedaniel.  I like the idea of separate fuzzy-finder command for searching full project without ignores.  Not sure how to implement though, because Amateur.

[2015-11-20 14:47] mdi commented on #77
Same issue as @grobmeier above ^.

[2015-11-20 22:39] Zooce commented on #88
This happens to me pretty much every other time I use the fuzzy finder. I'm working on a local C++ project (that is very large). Occurring on Atom 1.2.3 and Atom 1.3.0-beta5, Windows 7.

[2015-11-24 08:14] voylinux opened #155 "Freezes in big projects since v 1.2"
The fuzzy finder freezes in projects with a huge number of files. I can see the counter of indexing files but it stops progress when it arrives to about 739,000 .

Every time I close the editor it begins indexing again, so I can never get to use the fuzzy finder.

It was not happening in previous versions of the editor.

[2015-11-24 15:53] lee-dohm commented on #155
Do you have a public repository where you can reproduce this issue? (Sorry, I just don't have one this big to try it on :laughing:)

[2015-11-24 16:28] voylinux commented on #155
No, sorry. It is a private project. :(
I think this may be because it is also reading dependencies folders or folder already in the gitignore file.

[2015-11-25 08:46] voylinux commented on #155
Ok, I think I found the problem.
The package was trying to index some folders wich are symbolic links to other folders, so looks like becomes crazy.

Is there a way to just ignore symlinks instead of specify folders names in ignore option?

[2015-11-25 16:23] lee-dohm commented on #155
It sounds like this might be a duplicate of #134?

[2015-11-25 16:38] voylinux commented on #155
Yes, I think so.

[2015-11-25 16:38] #155 closed

[2015-11-25 23:17] jeancroy commented on #153
Is 1.1.0 OK ? do you have the option for  alternate scoring enabled ?

[2015-11-25 23:53] envygeeks commented on #153
@jeancroy yeah 1.1 was blazing fast, even with those links it was blazing fast, I didn't notice we were using those links until 1.2.0.  Alternate scoring is enabled because I default CTRL+O to fuzzy finder because it's much faster and it made things even easier to open.

[2015-11-26 00:17] jeancroy commented on #153
Ok because I had one user [report](https://github.com/atom/fuzzaldrin/pull/22#issuecomment-157774270) that the alternate scoring was slow on his system. Can you try disabling it just to see if speed is faster ?

It would surprise me because it hasn't really changed since the one package with 1.1. And you system clearly had spec to run it.

[2015-11-26 09:49] mustafawm commented on #88
Same here
(every time i CMD + P, it take some time to reindex and even when it's done, it's not as responsive/fast as it should be)

Using Atom 1.2.4 on OS X El Capitan

[2015-11-26 12:56] layonferreira commented on #153
I'm experiencing the same problem, when I turn off alternative scrolling, it gets a little faster, but still slower.

[2015-11-26 18:17] lee-dohm commented on #153
If someone can reproduce the "slower on v1.2.0" or "slower with alternative scoring" ... can you do a CPU profile per [the instructions in the Atom Flight Manual](https://atom.io/docs/latest/hacking-atom-debugging#diagnose-performance-problems-with-the-dev-tools-cpu-profiler)? Having specific information could be quite useful.

[2015-11-26 18:47] jeancroy opened #156 "Use a more realist debounce time"
This issue exist to helps issue such as  https://github.com/atom/fuzzy-finder/issues/153, as well as general responsiveness on slower computer or larger project.

Currently fuzzy-finder inherit it's debounce delay from space-pen/select-list-view at [50ms](https://github.com/atom/atom-space-pen-views/blob/master/src/select-list-view.coffee#L21)

I understand we want instant result. A good definitio

[2015-11-26 19:11] jeancroy commented on #153
Two things that I can think of.
1. Ignore VCS remove large folder from your project, like node_modules.
2. There might be a bug where the indexing process spam fuzzy finder with new files found & ask to recompute matches.

[2015-11-26 21:15] envygeeks commented on #153
I do Ruby, C and Python because I do systems, JavaScript isn't on my list of goto tools unless I'm in the front, .bundle is always in the list of files to ignore by default in all projects and we tell Atom to ignore those files too, we don't get any folders or files from `~/.bundle` or `/var/lib/gems`

[2015-11-27 00:09] lee-dohm commented on #156
The industry accepted definition of "instant" [based on usability research](http://www.nngroup.com/articles/response-times-3-important-limits/) is 100ms.

Those figures on the average layman and average professional typist are sustained, long-form typing. When someone types in short bursts, especially from muscle memory ... they're going to be typing a lot faster.

[2015-11-27 00:22] jeancroy commented on #156
Fair point.

With that being said, the current behavior when user type faster than computation time is that the keyboard event get registered to a queue and played back later.

So a lag is going to be there anyways. The difference is one case have a 100% cpu lag, and discard computation as soon as it get done, and the other case wait idle or do other gui stuff while waiting.

Even 100ms that would

[2015-11-27 01:12] lee-dohm commented on #156
I'm not arguing against the debounce time being longer. I'm just trying to point to research on the subject :grinning:

[2015-11-27 08:08] webhacking commented on #14
+1

[2015-11-27 12:48] maahd commented on #5
+1

[2015-11-27 22:51] eMerzh opened #157 "Display Exact file match. bypassing ignore"
(might be related to #148 or #124)

when using fuzzy finder, if you type something like "/my/ignored/dir.js" and it is in your ignored vcs pattern, nothing will shows up.

it might be a good idea to display the exact match (if there is one) even if it bypass the ignoring rules...

wdyt?

[2015-11-27 22:54] eMerzh opened #158 "Allow search with full path"
if your project is at /home/joe/project

you open the fuzzy-finder, and type "dir/myfile.js" it will display everything matching.

but if you are searching for "/home/joe/project/dir/myfile.js" , you won't find anything

it might be a good idea to allow absolute path search too...

wdyt?

[2015-11-29 21:23] di5abled commented on #77
Hy, same Problem here, and maybe I have another hint where this is comming from.

I have a root `Projects` folder, which contains a `.gitignore` with the contents:

[code]

When I open a project folder which is locted inside this folder, eg. `Projects/my-awesome-app` I finde no files in my quick search, and this is because of the `Projects/.gitignore` file. When I delete this file everything works

[2015-12-02 18:22] Pugio commented on #89
I'm getting this issue on 1.2.4 when I open up a subfolder of a git project. Using @nruth 's sample repo (and test files). If I do

[code]

I still see tmp/shouldntseeme.txt, in the tree-view, fuzzy-finder, and full project search. This is a problem, as I do a lot of development in a subfolder, but Atom doesn't seem to honor .gitignores not in the project root.

[2015-12-02 22:28] kevinsimper commented on #21
@jeancroy Did #22 solve this issue?

[2015-12-02 22:32] jeancroy commented on #21
There's now an "use Alternate Scoring" option in fuzzy finder that use it.
It address many issue about the search by file name / path.

But it does not cover any knowledge about the file themselves, such as preference for recent / frequent / certain files.

[2015-12-03 04:47] lee-dohm commented on #89
@Pugio, it sounds like the issue you're talking about is https://github.com/atom/atom/issues/2203

[2015-12-03 06:09] Pugio commented on #89
@lee-dohm : So it would seem, thanks. Guess I wasn't searching broadly enough.

[2015-12-03 09:40] bobalazek commented on #81
+1

[2015-12-03 18:38] r-owen commented on #57
I'm glad a solution is nearing. I tried recently to switch from Sublime Text, but gave up (again) because one of my projects has a huge number of files and Atom's fuzzy search proved essentially useless, whereas Sublime's fuzzy search handles it just fine.

[2015-12-03 18:45] jeancroy commented on #57
Please try the alternate scoring option.
And report any result worse than sublime here: https://github.com/jeancroy/fuzzaldrin-plus
I'd be happy to git it a try and make your use case fit.

[2015-12-03 18:51] r-owen commented on #21
I just tried the Atom Beta with "Use Alternate Scoring" enabled and it's a huge improvement, though still not as good as Sublime Text. I have a project with a huge number of files, including Doxygen generated html files that I rarely want to look at. I tried to find a file named "matchOptimisticB.h". In SublimeText I can type "mob.h" and get the right file as the first suggestion. In Atom Beta it

[2015-12-03 18:52] r-owen commented on #57
Thanks. I gave it a try and found it a huge improvement, but still not as good as Sublime Text. Details posted here: https://github.com/atom/fuzzy-finder/issues/21#issue-29106280

[2015-12-03 18:56] jeancroy commented on #21
Ok please open an issue on fuzzaldrin-plus I can give it a look. I'd need
the result that come before to understand why they are preferred. Also full
path is useful, if private, a mock-up with same length and directory depth.

On Thu, Dec 3, 2015, 13:51 Russell Owen <notifications@github.com> wrote:

[2015-12-03 20:50] kemayo commented on #111
Okay, #152 now includes a spec for this issue. So, regardless of whether my approach is settled on, if someone else wants a starting point for looking at it...

[2015-12-04 00:29] r-owen commented on #21
I just submitted this issue. I hope it helps.

https://github.com/jeancroy/fuzzaldrin-plus/issues/12

Thank you very much for trying to improve Atom’s fuzzy search.

— Russell

On Dec 3, 2015, at 10:56 AM, Jean Christophe Roy <notifications@github.com> wrote:

[2015-12-04 15:18] PrzemyslawWandzilak commented on #109
+1, I also have multiple large projects added simultaneously 20k+ files each.

[2015-12-10 02:19] wonderbeyond opened #161 "Fuzzy find and show results from selection?"
![image](https://cloud.githubusercontent.com/assets/228361/11704975/4bda2606-9f27-11e5-8e4c-7de0487787f7.png)
Is there an easy way to fuzzy find files from the selection?

[2015-12-10 02:46] lee-dohm commented on #161
Not currently, no. Though this sequence doesn't seem terribly complicated:

1. Copy keybinding
1. Fuzzy finder keybinding
1. Paste keybinding
1. <kbd>Enter</kbd>

[2015-12-11 00:54] sirianni opened #162 "Fuzzy Finder perpetually "reindexing project""
In one of my atom workspaces, the Fuzzy Finder always shows "reindexing project".  This seems to have occurred after a recent atom upgrade.  This project does not have an exorbitant number of files (<1000).

[2015-12-11 02:40] lee-dohm commented on #162
This is a duplicate of https://github.com/atom/fuzzy-finder/issues/88. Please subscribe to that issue for updates.

[2015-12-11 02:40] #162 closed

[2015-12-11 03:17] sirianni commented on #88
This is happening for me, but only on certain projects (even small ones).  Perhaps there is some symlnk or directory structure at fault?  Is there anything I can do to help root cause?

[2015-12-15 18:30] umpirsky opened #163 "Unable to find some files"
I have this issue with any [Symfony](http://symfony.com/) project.

Here is test on [Sylius](https://github.com/sylius/sylius/) example:

![-home-umpirsky-projects-sylius - atom_013](https://cloud.githubusercontent.com/assets/208957/11819540/bf4ec186-a360-11e5-9bba-caa2222bb4f8.png)

I tried to find `/home/umpirsky/Projects/Sylius/vendor/symfony/symfony/src/Symfony/Component/Form/Form.php` by typi

[2015-12-16 01:23] lee-dohm commented on #163
* What you were searching for is not in the list at all? Or not at the top of the list?
* Which version of Atom are you using?
* What OS and version are you running?
* Can you reproduce the issue after completely exiting all instances of Atom and then starting it using the command `atom --safe`?

[2015-12-16 07:31] umpirsky commented on #163
@lee-dohm Thanks for the quick response.

* What I was searching for is not in the list at all.
* I am using Atom 1.3.1.
* I am running Ubuntu 15.10 with Unity desktop.
* Yes, I get same behavior in safe mode.

[2015-12-16 18:04] umpirsky commented on #163
@lee-dohm Can you reproduce it?

[2015-12-16 22:16] jeancroy commented on #156
Alternatively:

Fuzzaldrin have no dependency and only do number crunching. Possibly a good candidate for a webworker. If a query is not finished when we receive new input, it can be cancelled and recomputed.

[2015-12-17 09:24] keul opened #164 "Atom should skip whole folders when in the "Ignored Names" set"
I set the ".svn" folder to be ignored, but when I use the search files inside that folder are found.
I'm forced to put also the "*.svn-base" exception.

A way to ignore folders *and* contents can be nice.

Weird thing: this seems not happening for .git folders.

[2015-12-17 14:15] jeancroy commented on #163
In fuzzy finder options can you enable alternate scoring ?

The thing with fuzzy finder is that if a file cannot score in the top ~15 results it might has well not exist.

[2015-12-17 14:25] zessx commented on #14
:+1:

[2015-12-17 14:58] umpirsky commented on #163
@jeancroy Bravo, that was the issue! Thanks!

But still, I will not close this issue, because after enabling alternate scoring, here is the result:

![-home-umpirsky-projects-sylius - atom_025](https://cloud.githubusercontent.com/assets/208957/11872682/f54e2912-a4d6-11e5-88d2-0462833ae968.png)

As you can see, expected result shows up first in the result list. I guess it should be visible even wit

[2015-12-17 15:13] jeancroy commented on #163
The thing is something fuzzy finder have to deal with ~100K files on large project, so it do not show every file, only top results.

Alternate scoring is an attempt to fix classic scoring. For example you see much less results with scattered isolated letters. It is behind a flag for development, but there's plan for it in not too distant future.

AFAIK this is solved.

[2015-12-17 16:41] 50Wliu commented on #163
Yeah, I'm closing this, since the alternate scoring method will soon be on by default.

[2015-12-17 16:41] #163 closed

[2015-12-17 19:34] lee-dohm commented on #164
Atom has a more robust system for ignoring files and directories called "Exclude VCS Ignored Paths". This hides or ignores anything that shows up in your version control system's ignore pattern. Currently, only Git is supported for this which is why you're not seeing the same behavior with Subversion.

The feature you're using is for hiding things from Atom that you still want checked in to source

[2015-12-17 20:33] umpirsky commented on #163
@jeancroy That is what I expected, to show top results.

`/home/umpirsky/Projects/Sylius/vendor/symfony/symfony/src/Symfony/Component/Form/Form.php` is top result, right?

[2015-12-17 20:35] 50Wliu commented on #163
@umpirsky Yeah, but only using the new scoring method.  The old one has some problems with it which is why it's being phased out.

[2015-12-17 23:00] jeancroy commented on #163
Yeah, long path often 'accidentally' contain your query, so old method give them lower score.
For that reason, it is not in top results.

New method instead try to find grouped characters to detect if a match is wanted or not, so it works better on long path and some other situations.

[2015-12-18 07:45] umpirsky commented on #163
@50Wliu @jeancroy OK, thanks for clarification guys.

[2015-12-18 08:38] keul commented on #164
So the issue is only about the lack of support to SVN. It this a core missing feature or only related to the search plugin?

[2015-12-18 09:00] lee-dohm commented on #164
An API for other source control systems exists (see https://github.com/atom/atom/issues/4138 for information). So I wouldn't even say that it is a missing feature of core. It's just that nobody has created a plugin for Subversion.

[2015-12-23 17:43] ricmed205 commented on #81
+1

[2015-12-24 12:19] tianyong90 opened #166 "Uncaught Error: spawn EBUSY"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.3.2
**System**: Unknown Windows Version
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v0.93.0
### Stack Trace

Uncaught Error: spawn EBUSY

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-01-03 08:40] prosf commented on #126
I can confirm that this is happening on Windows 7,10 and Ubuntu when switching to another application and then returning back to Atom:
Reindexing starts ,and all the history except of the last file is removed from the list.
So it seems that this is actually the default behavior and in that case maybe this should be tagged as an enhancement.

[2016-01-05 20:01] adambuczynski opened #168 "Displaying deleted files"
I assume the fuzzy finder uses some kind of cache for the files, but when I delete a file through Atom, it should probably trigger an event to remove that file from the fuzzy finder's cache.

Currently, after having deleted a file, it will still show up in the results of the fuzzy finder, which is confusing at best.

Possibly related, but the find & replace module is also plagued by this issue.

[2016-01-07 04:17] Nektro commented on #30
+1

[2016-01-10 22:41] pvorona opened #169 "Text is not selected on toggling finder"
1. Open finder
2. Type something and close it (esc by default)
3. Open finder again. Previously typed text still there and its very nice. Finder acts like this text is selected wich is also amazing. But the text itself is displayed without selection background wich is wrong. I'm using One-Dark theme

[2016-01-11 18:57] sirianni commented on #30
+1.

In my case, simply waiting does not fix the problem.  Newly created files are never found until the window is reloaded.

[2016-01-13 15:34] sirianni commented on #100
I'm receiving the exact same error from fuzzy-finder, but I don't have grunt-runner installed.  Any hints as to how might I go about determining which particular package might be causing this error (other than trial and error)?

[2016-01-13 16:25] sirianni opened #170 "Fuzzy Finder only re-indexes when window focus changes"
Looking through the code in `project-view.coffee`, this seems to be by design.  I guess the assumption is that every action that can add/remove a file requires a separate dialog box (confirm delete, new file).

However, new files can be added via Tree View (Tree View : Add File) without changing focus to a separate window.  Therefore, such files are not reflected in the Fuzzy Finder until the wind

[2016-01-14 22:49] BenjaminConant commented on #70
:+1:

[2016-01-15 14:01] ScriptorNY commented on #81
+1

[2016-01-21 22:04] otang commented on #5
+1

[2016-01-22 19:28] dsifford opened #171 "Keymaps do not register for linux -- Needs 'atom-workspace'"
Hello,

I figured this issue would be too small to warrant a pull request.

The default keybindings (at least for linux) requires `atom-workspace` in the selector string in order to function properly.

In other words...

**This..**
[code]

**Should be this...**
[code]

[2016-01-25 02:55] poitras commented on #109
:+1:

[2016-01-27 18:57] benogle commented on #108
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:57] #108 closed

[2016-02-07 15:41] dwelle commented on #30
Happens to me when checking out between branches.

[2016-02-10 00:07] adambuczynski commented on #168
This one is not related to deleted files staying open in tab.
Simple to reproduce:

1. Create a new file with unique filename
2. Open the fuzzy finder and ensure the file shows up when you search for it
3. Delete the file
4. Close the tab is still open
5. Open fuzzy finder and type the filename again
6. The file still shows up
7. After a little while, when using fuzzy finder again, the file doesn'

[2016-02-10 04:59] adambuczynski commented on #168
I might also add that files that have been moved to another location still show up in the old location in fuzzy finder for a period of time (several minutes in my case). Not sure what triggers the cache refresh, but I'm thinking interactions with files via tree-view should trigger some events to purge/update that cache.

[2016-02-10 10:48] mamartins commented on #88
same here on local projects. Every time I hit cmd+p it says "reindexing project"

[2016-02-10 15:52] vkalpias commented on #88
Same here - local project - fairly big, which makes cmd+p pretty slow.

[2016-02-10 23:00] adambuczynski opened #172 "Make fuzzy finder more spelling mistake tolerant"
Example: searching for a file called `account/profile.html`, I accidentally swap `u` and `o` and as soon as I have typed `accuont pro` nothing gets found. However, only `accuont` will display the file.

Is it possible and feasible to make the fuzzy finder a bit more spelling mistake tolerant?

[2016-02-11 00:20] 50Wliu commented on #172
/cc @jeancroy

[2016-02-11 22:01] achekulaev commented on #88
I have the same issue. Might it be related to symlinks in the project?

[2016-02-13 01:13] jcraigk commented on #5
+1

[2016-02-16 12:39] hultberg opened #173 "When opening a file it should be set in pending state"
Currently in the beta of 1.6.0, there is a new feature where single-clicked files from the tree-view is opend as "pending" (italic font style on the tab). I noticed that when searching for a file in the fuzzy-finder it still opens a file as always (normal mode). I would like it to change to pending as it's more sensible. When someone saves the file it will be set as normal anyways.

Using atom 1.6

[2016-02-17 02:46] anderoonies commented on #168
another that seems to be linked to atom/node-pathwatcher#104

[2016-02-17 02:49] adambuczynski commented on #168
Today I renamed a folder `tests` to `test`. After having done some refactoring (would have been about 20 minutes), I used fuzzy finder to jump to one of the test spec files. It opened a blank tab for me without contents. When I opened the file from the tree view, it showed the correct file contents.

To me this seems to be related to this issue, e.g. fuzzy finder caching the files and file locatio

[2016-02-18 00:03] lee-dohm commented on #173
The vision that we have for fuzzy-finder with regard to pending files is that as one navigates through the list, such as via the arrow keys, the currently selected file is shown in a pending state. But when you confirm a specific file is the one you wish to open, such as via <kbd>Enter</kbd>, it will be confirmed, i.e. no longer pending.

We don't have an ETA for when the above behavior will be im

[2016-02-18 00:03] #173 closed

[2016-02-18 04:40] dinusubba opened #175 "New file in project folder is not searchable"
_From @dinusubba on February 17, 2016 13:7_

When a new file is created in a project folder either by copy paste or using save as option. It is not searchable immediately using Command+T on Mac.
After a brief moment (couple of minutes) it started appearing in the search results.
<img width="928" alt="screen shot 2016-02-17 at 6 35 50 pm" src="https://cloud.githubusercontent.com/assets/5587801/1311

[2016-02-18 04:40] dinusubba commented on #175
_From @50Wliu on February 17, 2016 20:33_

@dinusubba Can you please move this over to the [atom/fuzzy-finder](https://github.com/atom/fuzzy-finder) repository?  Thanks!

[2016-02-18 04:40] dinusubba commented on #175
Sure I will move this

[2016-02-19 10:22] mattgreenfield commented on #88
Same problem here, large project on a remote server. Caching would be great.

[2016-02-19 22:59] liveh2o opened #176 "Uncaught TypeError: Cannot read property 'getWorkingDirectory' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.1

### Stack Trace

Uncaught TypeError: Cannot read property 'getWorkingDirectory' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-24 08:40] kolis commented on #88
Same problem here, but even worse, got completely stuck after a few thousand files. It turned out to be a symlink to another part of the filesystem.

Maybe there should be an option to ignore symlinks in indexing traversal?

[2016-02-24 09:17] mattgreenfield commented on #88
My above case does also involve symlinks.

[2016-02-24 10:15] svileng opened #177 "Shortcuts to navigate results dropdown"
Is it currently possible to map custom shortcuts to navigate up and down the results dropdown (currently it's arrow key up and arrow key down)? Thanks!

[2016-02-24 20:57] #87 closed

[2016-02-27 12:44] RBAtkins0n commented on #88
Same here, large laravel project on local machine.

[2016-02-27 16:06] 50Wliu commented on #88
The symlink issue will be fixed in Atom 1.7.0.  See #178 for more details.

[2016-02-29 10:18] abe33 commented on #175
I think the problem is not limited to new files:

![fuzzy-finder](https://cloud.githubusercontent.com/assets/247140/13391595/994910f8-ded5-11e5-9429-296e0bd2de13.gif)

In the gif above I have a file (which is not new), if I open the fuzzy finder it's empty, on the other opened file it is not. Then I open a third file and then all the three files opens a fuzzy finder with the proper entries. And as

[2016-02-29 22:19] lee-dohm commented on #175
I haven't been able to reproduce this using Atom v1.5.3 on Mac OS X 10.11.3. @abe33 do you have any hints?

[2016-03-03 13:16] abe33 commented on #175
I could reproduce that issue on 1.7.0-dev-2bdf4be in safe mode, both with and without the alternate scoring mode.

I somehow found way to reproduce that ever time:

- Split panes and leave them both empty
- Create a new file in the tree-view, it should open it in one of the panes
- Select the empty pane and trigger the fuzzy finder, the list is empty
- Select the pane with the new file and trigger

[2016-03-03 13:44] d4rkd0s commented on #14
+1

[2016-03-03 17:40] lee-dohm commented on #175
Awesome @abe33, thanks! I'll try to repro this later today.

[2016-03-07 09:46] acontreras89 commented on #168
atom/node-pathwatcher#106 has been merged, which may solve this problem. @adambuczynski can you ensure this is working properly with the latest version of `node-pathwatcher`?

[2016-03-08 12:35] rosenfeld opened #179 "There should be a way for the Fuzzy Finder to replace the current buffer/window/tab whatever you call it"
Sometimes you want to replace the current buffer/window/tab (I don't know how you refer to it) with the file from the fuzzy find dialog rather than creating a new tab for it and I couldn't find how to do that. This is the default behavior for the ctrl+p plugin for Vim for example, and I miss this feature while evaluating Atom.

[2016-03-08 12:43] rosenfeld commented on #179
Sorry, I just noticed this is a duplicate of this:

https://github.com/atom/fuzzy-finder/issues/81

[2016-03-08 12:43] #179 closed

[2016-03-08 12:43] rosenfeld commented on #81
+1

[2016-03-08 19:05] adambuczynski commented on #168
@acontreras89 this does not fix this issue I'm afraid. Fuzzy finder seems to index/cache the files, and files that are moved to trash don't seem to get removed from the index.

Only after opening fuzzy finder several times does the result disappear at one stage.

[2016-03-08 21:19] ocie commented on #109
I would prefer to have a per-project enable/disable flag that would make it act as if had been removed from the editor (close all tabs in that project, exclude from search, fuzzy find, etc.).  But it could be reopened with a single click.

[2016-03-08 21:41] mehcode commented on #109
@ocie

I'd suggest a project switcher like https://github.com/mehcode/atom-project-plus so you can toggle between projects quickly in the same window and have search isolated for each project (among other benefits).

[2016-03-09 18:29] aleclarson commented on #62
+1

[2016-03-10 03:21] mpkostek commented on #87
I am still having this issue.

[2016-03-10 03:29] 50Wliu commented on #87
@mpkostek The fix has not been released yet.  After you upgrade to Atom 1.7.0 (when it's released), if you're still having this issue, then please comment here.

[2016-03-11 04:19] JFRC commented on #70
:+1:
It's a useful feature.

[2016-03-13 14:47] michaelanhari commented on #81
:+1:

[2016-03-16 00:11] timhaines commented on #16
@kevinsawicki great to see you added the last active path to the top of the list.  Thank you.

I'd like to propose this issue is reopened.

It would be great if cmd-t could behave like cmd-b until the first key is pressed in the search box.

I often switch between 3 or 4 files, and it would be super convenient (and what I'm used to coming from Sublime) if the default list of files was the list of

[2016-03-16 09:34] intellix commented on #70
Came here to request the "right arrow" functionality from Sublime 3. Shift+down would achieve the same thing in some cases but when you have the ability to press right arrow, you can at least skip items you don't want to open.

if I've got 10 projects and I want to edit the bower.json within them all, I have to cmd+p and search 10 times. The most annoying part of this is that the search results ar

[2016-03-16 12:57] cassioscabral commented on #177
Do you think this could be like the Alfred app ? for the options that I got on fuzzy finder show a cmd+1 shortcut for the first result, cmd+2 for the second and so forth ? I was thinking about something similar to that and will be awesome to have on Atom, speeds the process of choosing the right result. I was going to create a issue for that but your title seems to fit, if this not works for you I

[2016-03-17 22:01] kaicataldo commented on #124
Also interested in this. Would a PR be welcome?

[2016-03-18 17:37] christopherciufo opened #182 "Feature Enhancement: Ability to open files in pending view from the fuzzy-finder search bar"
**Current and suggested behavior**

There is currently no way to open a file as a pending item from the fuzzy search. I suggest adding the ability for files that are being searched in the fuzzy finder search to open in pending mode. From my understanding, there are 3 possible logical approaches to implementing this without breaking the current configuration.

**Options**

1. Have a boolean option

[2016-03-18 21:30] kuychaco commented on #182
Thanks for the great writeup @christopherciufo. I agree with your assessments and think it would be great to have this as an enhancement to the pending view feature.

I say go with Option 3. It gives users the option of making the decision of whether to open in pending/non-pending mode at the last second. Whereas with Option 2, users have to make the decision up front and if they change their mind

[2016-03-20 13:51] bbrock25 commented on #81
:+1: this would greatly reduce the clutter in my workspace :heart_eyes_cat:

[2016-03-22 13:20] Sylvm opened #184 "[mac][php] Fuzzy function list shows vars"
When using this kind of code :
`<?php

function aaa(){
   $inA = '';
   return false;
}

function bbb(){
   $inB = array();
   foreach(array(1,2,3,4,5) as $val){
      $inB[$val] = 0;
   }
   return false;
}

function ccc($fail = array()){
	$inC = '';
   return false;
}

function ddd(){
   $inD = '';
   return false;
}
`

And using cmd + R to show all function I got :
- aaa
- inA
- bbb
- inB
- ccc

[2016-03-22 15:50] halt-hammerzeit commented on #126
I'm having possibly the same issue on OS X: when I hit `Cmd + P` it shows the correct history but then 0.5 seconds later something happens and the list of files is reset and the history is lost.

[2016-03-22 15:54] ptoomey3 commented on #126
I've never done any Atom development and haven't looked at any of the implementation for fuzzy finder, but if someone familiar with the fuzzy finder internals could point toward where the file stack is maintained before reindexing, and then gets cleared out, it might make it easier for someone to pick this up and open a PR.

[2016-03-22 20:13] Sirfrummel opened #185 "Fuzzy Finder is replacing my currently open file with chosen file while indexing."
Hi.  I just updated to Atom 1.6.0.  Out of nowhere Fuzzy Finder is now replacing my existing open file, with the new selected file.    It looks like this is only happening when it is currently indexing the list.  If I wait a second and let it index, then it works fine and opens in a new tab.

I am pretty sure the old functionality did not replace the currently open tab.

[2016-03-22 21:21] Sirfrummel commented on #185
I don't think this is with Fuzzy Finder anymore.  At one point, I was clicking on files from the tree and it was replacing my open file as well.  I think that rules out fuzzy finder, but if you have any suggestions I would still appreciate it.

[2016-03-22 21:37] mehcode commented on #184
Try looking at https://github.com/mehcode/atom-symbols-plus

It's still a work in progress but simple `cmd+r` is already far more accurate than built-in.

[2016-03-23 10:51] Sylvm commented on #184
Thank you very much for the link.
I installed symbols-plus from @mehcode and it looks fine, I'll report there now for this feature.

[2016-03-23 10:51] #184 closed

[2016-03-24 15:48] matiasdelgado opened #186 "Add feature to insert a file's relative path into the active document"
Add a new shortcut to launch the fuzzy-finder, but instead of opening the selected file, just insert the relative path into the document. This would be useful when working with less files (to reference other less files) or importing ES6 modules.

Example:
* Press cmd-shift-i
* The fuzzy-finder is displayed
* select a file
* Calculate the relative path of the file, according to the active document

[2016-03-24 16:13] Sirfrummel commented on #185
It looks like this was an intended feature that is enabled by default in 1.6.
Reference:
https://github.com/atom/atom/issues/11243

[2016-03-24 16:13] #185 closed

[2016-03-26 22:15] kaicataldo commented on #148
I'd love to see this functionality, either by:
 - being able to bind a second keymapping that will search the entire contents of the directory whether the "Exclude VCS Ignored Paths" is set or not
 - starting the search query off with a character that denotes that this should search the entire directory

My preference is for the former. I'd be happy to try to implement this if it's something that

[2016-03-29 07:10] thiagolacerda commented on #88
Same problem here, using OS X Yosemite 10.10. Huge local project

[2016-03-29 21:35] calebmeyer commented on #150
A few things which I think should give a recent-based bonus:
- An open, non-foreground tab (this allows for quick switch between tabs using fuzzy finder)
- A tab that was closed during this session (since the last time you closed atom)
- Any file that was edited recently, with more weight given to those within the last few hours, less weight for last few days, and no weight over maybe 3 days of in

[2016-03-29 21:57] jeancroy commented on #150
I think it should already be the case. Are you using the alternate scoring ?

[2016-03-29 22:01] calebmeyer commented on #150
I am, and it is, but what if application.rb were the more common one? I picked a bad example, but I do still run into this occasionally.

[2016-03-29 22:15] jeancroy commented on #150
From a design standpoint example of the problem we are trying to solve is very useful.
For example typing 'app' somehow prefering 'application_controller.rb' to 'application.rb'

very interested to hear about such user stories.

[2016-03-29 23:42] lee-dohm commented on #150
BTW, the Slack engineering blog recently posted [an article](https://slack.engineering/a-faster-smarter-quick-switcher-77cbc193cb60#.7dtserpv3) about how they optimized the channel switcher in Slack and included a "frecency" algorithm in it.

[2016-03-30 08:18] pedro93 commented on #14
+1

[2016-03-30 20:20] brendanblackwood opened #188 "Panel takes 2-3 seconds to open"
When I hit <kbd>Cmd</kbd>+<kbd>t</kbd> to open the fuzzy finder, it takes 2-3 seconds for the panel to open. This doesn't seem to be related to reindexing (that I can tell) because if I've just opened atom, it will start reindexing and show me that when I first open it.

I've tested this using v1.7.0-beta3 (though this has been happening since v1.7.0-beta0) in safe mode and see the problem there a

[2016-03-30 20:22] 50Wliu commented on #188
@brendanblackwood out of curiosity...do you still experience slowdowns if the project is not a Git repo?

[2016-03-30 21:29] ruimarinho commented on #188
I am also experiencing this delay with v1.7.0-beta3 (and since v1.7.0-beta0).

[2016-03-31 15:43] brendanblackwood commented on #188
Same thing with the same project (removed .git*).

[2016-04-01 15:22] averyvery commented on #81
Also :+1:ing this, holding shift-cmd-t or something like that replace a current buffer/tab with the new file would be awesome.

[2016-04-04 11:32] fixe commented on #188
Temporary fix for the projects I'm working on:

[code]
[code]

[2016-04-05 09:13] noelfelix commented on #14
+1

[2016-04-06 00:49] stowball commented on #161
I'm so used to this feature from Brackets. It's a shame Fuzzy Finder doesn't support it as it reduces 2 keystrokes. Efficiency++ :D

[2016-04-06 20:32] lee-dohm commented on #58
Sounds like this has regressed, see:

https://discuss.atom.io/t/any-way-to-open-items-in-the-file-finder-to-a-new-pane/27553

@amytruong Can you reproduce this for me?

[2016-04-07 21:32] amytruong commented on #58
@lee-dohm sorry for the delay but yes, was able to reproduce on stable. :cry:
Steps 3, 5, and 6 are the regression:

1. command+T
2. type file name
3. open file with ENTER
4. command+K+RIGHT
5. click file opened in left pane
6. command+W to close file in left pane

[2016-04-07 21:43] nathansobo opened #190 "Regression: No longer opening in a split pane via split binding"

[2016-04-07 21:43] #190 closed

[2016-04-12 00:11] jimbonator commented on #170
I'd be happy with a re-index hotkey.

[2016-04-12 03:10] kuychaco commented on #58
I believe this was fixed in https://github.com/atom/fuzzy-finder/pull/189
/cc @lee-dohm @amytruong

[2016-04-12 03:10] #58 closed

[2016-04-12 11:09] swaathi commented on #22
The link no longer works. How do I ignore a directory?

[2016-04-12 14:08] mateussdev commented on #14
+1

[2016-04-12 20:49] lee-dohm commented on #58
Confirmed that this is fixed in the latest `master`.

[2016-04-13 19:58] opensourceportfolio commented on #188
I've been seeing the same thing. I thought it was another plugin that I installed so I've been trying to narrow it down. Good thing I'm not the only one.

[2016-04-14 17:06] yriveiro commented on #188
I did today the upgrade to last stable version of Atom (1.7). the pane takes an eternity to open indeed compared to 1.6.2 ...

[2016-04-14 18:20] sangyoo91 commented on #88
Same here.. It wasnt doing this a while ago. It happened like 2 days ago for me

[2016-04-14 19:15] moleksyuk opened #191 "Uncaught Error: ENOENT: no such file or directory, lstat '/atom:'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.0
**System**: Mac OS X 10.11.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.4

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-14 21:03] danfuzz commented on #188
Also seeing this problem since updating to 1.7 from 1.6.2. The difference was immediately noticeable.

[2016-04-15 01:02] M-Porter commented on #188
Did a quick git bisect and ended up with this:
[code]

Part of https://github.com/atom/fuzzy-finder/pull/167 which makes sense. If you run a profile on fuzzy-finder, `dataForFilePaths` is the slowest function which is what was modified in that commit.

[2016-04-15 01:11] M-Porter commented on #188
Reverting commit 7346c18c3b9d73f09d0d000aa3617839d7c7263a instantly made this much much faster. As a quick fix, it should be reverted until a more suitable way of using async git is found to work with atom 1.7+

[2016-04-15 01:20] 50Wliu commented on #188
/cc @joshaber

[2016-04-15 01:20] M-Porter commented on #188
https://github.com/atom/fuzzy-finder/pull/192

[2016-04-15 14:34] joshaber commented on #188
I can't reproduce this with `atom/atom` open. Can anyone provide some reproduction steps?

[2016-04-15 14:38] AEgan commented on #188
How large is the project you're testing it with? For the majority of projects it hasn't been an issue for me, but I've experienced this (about 5-6 second delay for me) in a very large project. ~9k files with  ~25k commits.

[2016-04-15 14:41] joshaber commented on #188
I tried it with `atom/atom`.

[2016-04-15 14:42] yriveiro commented on #188
With tiny projects the fuzzy finder opens with no delay, if the project has a considerable size, the lag opening the fuzzy finder is in the order of seconds

[2016-04-15 15:30] elclanrs commented on #88
I'm experiencing the same issue since I updated from 1.6.2 to 1.7.1, cmd + p it's quite slow, like other say it seems to be re-indexing everytime I open it.

[2016-04-15 17:06] M-Porter commented on #188
`atom/atom` is hardly a large project. its not very deep and it doesn't have symlinks (as far as i can tell) -- symlinks shouldn't be an issue but who knows... computers.

The projects I was testing with is:
~30k indexible files (files which aren't ignored from search)
76k+ commits (which isn't a problem because `.git` is ignored from search)

[2016-04-15 17:12] joshaber commented on #188
Indeed 😆

Sounds like I need to find a bigger project to test again. Lemme know if anyone knows of one.

[2016-04-15 17:28] M-Porter commented on #188
A huge project that comes to mind right away would be the [linux kernel](https://github.com/torvalds/linux) at 1+Gb... but thats probably too large. I'll keep thinking.

[2016-04-16 16:17] umpirsky commented on #188
I can confirm this. After upgrade to 1.7 `Ctrl + P` got way slower on large project. It now takes 2-3 seconds (just to open dialog) on large project where with 1.6 was instant.

[2016-04-16 19:05] kiramclean commented on #177
+1
any word on this??

[2016-04-16 23:34] indigo0086 commented on #70
To illustrate how the current implementation is quite wasteful.
[code]

with @intellix's solution and what sublime uses the same opening of files would look like
[code]
and because the keys are mainly the down and right arrow, opening many files would be both easy and quick because of the proximity.

[2016-04-17 14:27] m-jch commented on #188
I'm fine, until i was upgraded atom from 1.6 to 1.7, It's very slow now, even i thought migrate to sublime text :(

[2016-04-17 20:14] alexandernst opened #193 "Interesting post about fuzzy matching (Sublime Text RE)"
This might be of your interest, @atomdevs: https://blog.forrestthewoods.com/reverse-engineering-sublime-text-s-fuzzy-match-4cffeed33fdb#.rnw3t78wp

[2016-04-18 15:39] paulatbipsync commented on #188
I can confirm this issue, and have downgraded to 1.6.2 to workaround it for the time being

[2016-04-18 17:43] M-Porter commented on #188
Reverting the merge fixes the problem. Can we just do that for the time being until the bug is looked into and resolved?

@joshaber

[2016-04-18 17:46] joshaber commented on #188
I'm currently looking into it.

[2016-04-18 20:17] xcjs opened #195 "Uncaught Error: spawn UNKNOWN"
[Enter steps to reproduce below:]
1. Had one instance of Atom open.
2. Called atom . from the command line (for a second instance).
3. Pressed Ctrl + P to search for a file, and it crashed.

**Atom Version**: 1.7.1
**System**: Unknown Windows Version [Reporter note: Windows 10 Professional]
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.4
### Stack Trace

Uncau

[2016-04-18 22:18] #188 closed

[2016-04-18 22:30] billjohnston commented on #62
+1

[2016-04-19 01:34] BinaryMuse commented on #188
This is fixed in 1.7.2

[2016-04-19 10:46] umpirsky commented on #188
Works like a charm, thanks @joshaber, great job! :+1:

[2016-04-19 13:29] joshaber commented on #188
Great, thanks for the reports and patience everyone!

[2016-04-19 13:30] brendanblackwood commented on #188
Yeah, thanks for the fix. Buttery smooth :)

[2016-04-20 07:57] Tibicenas commented on #191
+1  👍

▶ atom -v
Atom    : 1.7.2
Electron: 0.36.8
Chrome  : 47.0.2526.110
Node    : 5.1.1

OSX El Capitán 10.11.4

[2016-04-20 19:48] Synergist opened #196 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/psingh/atom:'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Ubuntu 14.04.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/psingh/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-21 14:04] josue commented on #5
LGTM 👍 :shipit:

This feature is all that's stopping me from switching to Atom. Wish this could be merged in soon.

[2016-04-21 14:35] sksea commented on #5
+1

[2016-04-21 22:25] lee-dohm commented on #191
Can you give some indication of when or how this happens?

[2016-04-22 06:48] moleksyuk commented on #191
Hi @lee-dohm
I've just installed it and tried to open some file as I remember.
It was for the first time I tried Atom, so I can't exactly provide steps to reproduce it.

[2016-04-22 08:05] henrebotha opened #197 "Experimental matching sometimes favours path over filename"
I find it very annoying that in this example, I get `match_controller.rb` as the first result instead of `application_controller.rb`:

![image](https://cloud.githubusercontent.com/assets/5593874/14735514/850e6820-0871-11e6-9af8-c838232f60d6.png)

Whereas this gives me the result I want:

![image](https://cloud.githubusercontent.com/assets/5593874/14735546/af2d4bd0-0871-11e6-8520-a50cf8a43f19.png)

[2016-04-22 13:11] 50Wliu commented on #191
@moleksyuk Did you by any chance move the Atom.app file (or similar, I'm not too familiar with how Atom is packaged on Mac) after starting it?

[2016-04-22 13:11] 50Wliu commented on #197
@jeancroy

[2016-04-22 13:13] moleksyuk commented on #191
Hi @50Wliu
No I didn't. Just installed it to /Application folder and run it.

[2016-04-22 14:04] jeancroy commented on #197
@henrebotha thank you for the report.

There seem to be a tipping point where the shortest filename win over the one with better match.

To explain a bit the situation, to boost the effect of short filename, the size of filename penalize the full path score. But here the full path score match so well than the penalty is bigger than the addition of "pp" in filename.

May return to the drawing board

[2016-04-22 14:05] henrebotha commented on #197
Ah, that makes a lot of sense.

I'm glad you're the one dealing with these problems and not me... ;)

[2016-04-23 13:06] Tibicenas commented on #191
same for me

[2016-04-23 22:23] draeath commented on #191
Same, but mine was installed via (homebrew)[http://brew.sh/]

My files are located in `/opt/homebrew-cask/Caskroom/atom/1.7.2/Atom.app` and a symbolic link exists as `~/Applications/Atom.app` to launch it. If I press ⌘t to pop up the fuzzy finder, this error is presented.

[code]

[2016-04-26 14:58] skqr commented on #5
👍 🎏

[2016-04-26 17:36] foundryspatial-duncan commented on #77
I'm experiencing this issue on OSX with v1.7.2, and the cause appears to be as @di5abled describes above. This only started happening in the past few months, I think.

My project root's `.gitignore` file is fine, and the correct files are showing/hidden in the "Tree View" accordingly, however the Fuzzy Finder always says "Project is empty." If it do cmd+B to search within buffer, that appears to w

[2016-04-27 07:46] rossburton opened #199 "Uncaught Error: ENOENT: no such file or directory, lstat '/Volumes/ross's home'"
If a project is open on a network drive and the mount is lost (I suspended and the server was powered down), attempting to use fuzzy-finder causes it to throw an error and crash that window.

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory,

[2016-04-27 22:28] lee-dohm commented on #199
This is a duplicate of #196. You may want to subscribe there for updates.

[2016-04-27 22:28] #199 closed

[2016-04-28 02:59] walshp7595 commented on #191
I just hit this. Flag said upgrade would occur at next start of Atom; I restarted it, entered ⌘P and got the error. I am running Mac OS X 10.10.5. Restarting Atom and issuing the same keystrokes does not give error, so for me too looks like first-time-only occurrence..

[2016-04-28 08:24] Sabbasth opened #200 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/bsemene/atom:'"
1. Fresh install
2. Open folder (Cmd-o)
Note: The opened folder isn't in the path: /home/bsemene/atom
3. Cmd-t

**Atom Version**: 1.7.2
**System**: Linux Mint
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/bsemene/atom:'

[code]

### Commands

[code]

### Config

[code]

### Ins

[2016-04-28 12:39] rossburton commented on #196
I filed #199, the way I can make this happen on demand is to have atom open a project on a network drive and then forcibly disconnect the mount.  Basically every time I open my laptop when I start work, Atom crashes.

[2016-04-28 18:13] bvjebin opened #201 "Uncaught Error: ENOENT: no such file or directory, lstat 'path'"
[Enter steps to reproduce below:]

1. Ctrl+p

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.3
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/jebin/support/practice/projects/bot_transactions'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-28 23:13] lee-dohm commented on #200
Duplicate of #196.

[2016-04-28 23:13] #200 closed

[2016-04-28 23:14] lee-dohm commented on #201
This is a duplicate of #196. Please subscribe there for updates.

[2016-04-28 23:14] #201 closed

[2016-04-29 07:03] gustavomanolo commented on #30
I have the same problem, just like @sirianni

[2016-04-30 23:38] hellshelix opened #202 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Patrycjusz\AppData\Local\atom\..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.3
**System**: Microsoft Windows 10 Pro
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Patrycjusz\AppData\Local\atom\app-1.7.3\atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packag

[2016-05-02 07:24] krynnotaur opened #203 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\USERNAME\AppData\Local\atom\app..."
[Enter steps to reproduce below:]

1. ... no files open
2. ... type ctrl-t

**Atom Version**: 1.7.3
**System**: Microsoft Windows 10 Pro Insider Preview (14332.rs1_release.160422-1940)
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\USERNAME\AppData\Local\atom\app-1.7.3\atom:'

[2016-05-02 12:37] thedaniel commented on #196
This one's a bit troubling, at least per @rossburton's repro steps, because it seems to boil down to a more general question about "what should Atom do if the entire project disappears from the filesystem?"

We can't do any actions to a project that we can't access, so all the things in atom that assume the ability to read or stat files won't work. Maybe we can add a concept of a "disabled" projec

[2016-05-02 14:01] rossburton commented on #196
Don't disable the entire project: if someone has unsaved changes and the
network drive/removable media/whatever suddenly ceases to exist, you'd
still want to save the file somewhere else.

On Monday, 2 May 2016, Daniel Hengeveld <notifications@github.com> wrote:

[2016-05-02 17:26] kuychaco commented on #196
As of v1.7 we periodically store the editor state in IndexedDB for crash recovery, so unsaved changes are technically saved in Atom's client-side storage. I have not tested this, but I _believe_ that once the network drive is reconnected and an editor is opened with the same project paths the editor should be restored to the state it was in before the crash, including any unsaved buffer changes

[2016-05-03 23:35] frenchbread opened #205 "Stuck indexing when adding more than one project folder"
### Prerequisites

* [x] Can you reproduce the problem in [safe mode](http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-if-the-problem-shows-up-in-safe-mode)?
* [x] Are you running the [latest version of Atom](http://flight-manual.atom.io/hacking-atom/sections/debugging/#update-to-the-latest-version)?
* [x] Did you check the [debugging guide](http://flight-manual.atom.io/hacking-

[2016-05-04 00:22] tnrich commented on #21
Does anyone know if there is an equivalent issue open discussing the Cmd-Shift-P search algorithm?

[2016-05-04 01:08] jeancroy commented on #21
you're speaking of command palette? Should already be integrated. If you
have a problem you can try openings a issue on fuzzaldrin-plus repo

On Tue, May 3, 2016, 20:22 Thomas Rich <notifications@github.com> wrote:

[2016-05-04 02:26] g3ortega opened #206 "Uncaught Error: ENOENT: no such file or directory, lstat '/Users/gerardo/Desktop/Freelancing/proj..."

[2016-05-04 02:28] #206 closed

[2016-05-05 12:18] coolbox commented on #5
+1

[2016-05-05 23:50] chrishiestand commented on #111
Here's instructions on how to reproduce this bug <https://github.com/chrishiestand/atom-fuzzy-finder-git-bug> so we can lose the `needs-reproduction` label.

I traced the code from fuzzy finder -> atom -> git-utils -> libgit2 and I'm not quite sure where the problem lies. If the repo and workdir information are being passed properly I'd imagine the bug is in libgit2 but I haven't spent the time to

[2016-05-06 00:10] 50Wliu commented on #111
/cc @joshaber

[2016-05-06 00:54] chrishiestand commented on #111
It may be of note that Tree View does not share this problem (e.g. it correctly shows the files as not vcs ignored)

[2016-05-06 04:00] alias1 commented on #191
Fresh install of atom 1.7.3 via homebrew on OSX El Capitan 10.11.3

Hit this when I pressed ⌘P, only happened the first time.

[2016-05-06 15:01] joshaber commented on #111
@chrishiestand :metal: Thanks for the repo and instructions!

[2016-05-06 17:18] #111 closed

[2016-05-06 17:32] ReinventingHell commented on #77
@foundryspatial-duncan Yeah this is happening to me too.

[2016-05-06 19:33] javierlopezdeancos opened #208 "Uncaught Error: variable @syntax-color-removed is undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.3
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5
### Stack Trace

Uncaught Error: variable @syntax-color-removed is undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-05-06 20:20] 50Wliu commented on #77
@foundryspatial-duncan @ReinventingHell your issues should have been fixed by #207.

[2016-05-06 20:21] 50Wliu commented on #208
@javierlopezdeancos Can you reproduce this in safe mode (`atom --safe`)?  In addition, what were you doing when this occurred?

[2016-05-08 07:43] tnrich opened #209 "Use es6 instead of coffeescript?"
Hey there,

I am a big fan of atom in general, and have been currently hacking away on the fuzzy finder trying to implement an import system akin to what https://github.com/atom/fuzzy-finder/issues/186 suggests. The one thing is ...it's written in coffeescript which makes everything a lot more difficult for me (and I imagine most other naive atom users).

I know there have been many discussions ab

[2016-05-10 00:52] #110 closed

[2016-05-10 10:28] Alhadis commented on #209
As an ES6 lover who has difficulty "adjusting" to CoffeeScript, I'm inclined to agree with you.

However, I can't see the Atom team moving away from the language the project's been founded on. There'd be nothing to gain from doing so: everybody's workflow would be disrupted.

[2016-05-10 11:09] DKhalil opened #210 "Jump to first item after reindexing"
This is really more of an annoyance than a bug:
After opening the fuzzy finder and entering a search string, the item selection jumps to the start of the list as soon as the 'Reindexing project' message is gone.

1. Is it really reindexing the whole project everytime?
2. It leads to opening the wrong file quite often - which is very annoying.

[2016-05-10 12:45] pawelsawicz commented on #195
Additional information, for me it occurs only if I open atom via `git-bash`. When I open atom via `powershell` it works fine.

[2016-05-10 14:53] xcjs commented on #195
Ah. The git-bash makes sense. I'm starting Atom via Cygwin.

[2016-05-10 15:24] DKhalil commented on #210
Oh, right, if it helps:

Problem found on Atom 1.7.3 on Win10 (no clue how far back this issue goes)

[2016-05-10 17:07] lee-dohm commented on #209
We're not planning on converting anything at this point in time. When it makes sense, new files will be written in ES6. At some point, we might convert. Currently, [there are performance gotchas with ES6](https://groups.google.com/forum/m/#!msg/strengthen-js/ojj3TDxbHpQ/5ENNAiUzEgAJ) that make wholesale conversions not attractive at this point:

The above holds true with some of our experimental o

[2016-05-10 17:07] #209 closed

[2016-05-10 17:44] tnrich commented on #209
Thanks for the explanation. Sounds good!

[2016-05-10 20:08] laryro commented on #88
Same here, remote folders. Using Ubuntu 14.04. Remote storage is also under linux. :(
Atom version 1.7.3

[2016-05-12 14:33] #196 closed

[2016-05-12 16:34] SekharKolli commented on #191
Just hit this now...Since I'm new to atom, listing all that I remember, perhaps you might what you are looking for
1. installed a fresh copy of atom (never had it on my mac)
2. I opened a folder to edit a index.html page pulled from github and made a few changes to it.
3. Mac was in hibernate (closed the screen with atom and the file running) and opened it after 12+ hrs
4. Choose to explore/instal

[2016-05-12 20:24] 50Wliu commented on #191
Fixed by #204.

[2016-05-12 20:24] #191 closed

[2016-05-13 11:35] Trilunaire commented on #87
Still having this issue for me, with symlinked file. I have atom 1.7.3 on Debian Jessie (8).
Atom can't research things in project search and the fuzzy finder stuck at indexing.
If I delete the linked files it work.
The different file used are linked to /usr/share/automake-1.14.
Even if I run atom as root, it still not working

[2016-05-16 11:41] DonRichards opened #212 "Uncaught Error: ENOENT: no such file or directory, lstat '/Users/Don/GitHub/islandora_deployments'"
[Enter steps to reproduce below:]
Not really sure the problem. Isn't effecting anything. Just pops up a message (so far)
1. Open atom
2. Error

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/Don/GitHub/islandora_deployments'

[2016-05-16 19:12] betesh opened #213 "Uncaught Error: ENOENT: no such file or directory, lstat '/myProjectsDir/myProject'"
### Steps to reproduce:

1. Open atom
2. Add a project
2. delete the project directory

**Atom Version**: 1.7.3
**System**: Ubuntu 14.04.4
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/myProjectsDir/myProject'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2016-05-16 20:15] 50Wliu commented on #213
This should be fixed by #204 (and will be available in Atom 1.9.0), so closing.

[2016-05-16 20:15] #213 closed

[2016-05-16 20:15] 50Wliu commented on #212
This should be fixed by #204 (and will be available in Atom 1.9.0), so closing.

[2016-05-16 20:15] #212 closed

[2016-05-17 20:38] calebmeyer opened #214 "Goto anything, atom style"
One of sublime's most touted features (it's right on the home page) is the fuzzy finder. It's called goto anything, and has a few nice features:

You can type an @ symbol after you have narrowed to the file you want to go to a specific tag in that file.
You can type a : after you have narrowed your file to go to a specific line (atom already supports this)
You can type a # to go to the first searc

[2016-05-18 16:25] tiagocpontesp commented on #148
+1

[2016-05-18 18:23] sagarpanchal opened #216 "Constantly increasing CPU and memory usage after opening a directory with Atom"
(Edit: `/var/www/html/` contains **a soft/symbolic link to its parent directory** that causes **recursive directory tree**. After I deleted the soft link, atom is working fine.)

**Reproduction:**
1. Close every Atom window, if running.
2. Open a directory with atom by running  `atom /path/to/directory/`.  In my case `atom /var/www/html/data/`. It doesn't happen with other directories!

**Expected

[2016-05-18 20:06] 50Wliu commented on #216
@sagarpanchal Can you please try the latest Atom 1.8.0 beta and see if that fixes your issue?

[2016-05-19 08:48] sagarpanchal commented on #216
@50Wliu Yes

[2016-05-19 09:54] iofjuupasli commented on #122
`keymap.cson`:

[code]

[2016-05-19 09:54] #122 closed

[2016-05-19 11:07] sagarpanchal commented on #112
https://github.com/atom/fuzzy-finder/issues/216

[2016-05-19 11:08] sagarpanchal commented on #112
@izuzak https://github.com/atom/fuzzy-finder/issues/216

[2016-05-19 11:14] sagarpanchal commented on #216
@50Wliu I can reproduce same issue with atom-beta [https://github.com/atom/atom/releases/download/v1.8.0-beta3/atom-amd64.deb] with `fuzzy-finder` package enabled.

And I can also solve it by disabling `fuzzy-finder` package.

[code]

[2016-05-19 11:16] sagarpanchal commented on #216
@50Wliu I can reproduce same issue with atom-beta [https://github.com/atom/atom/releases/download/v1.8.0-beta3/atom-amd64.deb] with `fuzzy-finder` package enabled.

[code]

[2016-05-19 11:17] sagarpanchal commented on #112
@andre-dietrich @izuzak https://github.com/atom/fuzzy-finder/issues/216

[2016-05-19 11:19] pierrre commented on #112
@sagarpanchal please stop this spam.
You can edit your previous Github messages.

[2016-05-19 14:23] sagarpanchal commented on #112
@pierrre
I did't spam, I deleted them.

[2016-05-19 14:47] pierrre commented on #112
@sagarpanchal yes, but when you delete and create a new message, it sends a new email/notification.
That's why it's preferable to edit a message.

[2016-05-19 14:47] pierrre commented on #112
@sagarpanchal yes, but when you delete and create a new message, it sends a new email/notification.
That's why it's preferable to edit a message.

[2016-05-19 14:47] pierrre commented on #112
@sagarpanchal yes, but when you delete and create a new message, it sends a new email/notification.
That's why it's preferable to edit a message.

[2016-05-19 14:47] pierrre commented on #112
@sagarpanchal yes, but when you delete and create a new message, it sends a new email/notification.
That's why it's preferable to edit a message.

[2016-05-19 14:47] pierrre commented on #112
@sagarpanchal yes, but when you delete and create a new message, it sends a new email/notification.
That's why it's preferable to edit a message.

[2016-05-19 15:41] 50Wliu commented on #112
Closing as no new information has been provided.

[2016-05-19 15:41] #112 closed

[2016-05-24 05:01] lee-dohm commented on #216
Can you give an example of a publicly accessible directory where we can reproduce this problem? What is unique about your `/var/www/html/data` directory that causes the problem?

[2016-05-25 22:20] RyanCopenhaver opened #218 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Ry\AppData\Local\atom\app-1.7...."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.4
**System**: Microsoft Windows 10 Pro
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Ry\AppData\Local\atom\app-1.7.4\atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[cod

[2016-05-25 22:40] 50Wliu commented on #218
This has already been fixed and should be available starting in Atom 1.9.0.

[2016-05-25 22:40] #218 closed

[2016-05-26 08:26] anton-fomin commented on #131
I have the same error. Just switched to a branch where a folder doesn't exist and opened atom.

[2016-05-26 08:31] davesnx opened #219 "Suggestion: having the command to ignore Exclude VCS Ignored Paths Setting"
Hi guys,
Really awesome work on this I really love it, I have a suggestion, I would like to receive some feedback before go on with this:

I see useful search sometimes inside the ignore packages that `.gitignore` define or any VCS.
Such as, `node_modules` or even `.env` variables are the most common cases.

I'm thinking like create a command that run the search ignoring the general setting and bi

[2016-05-26 13:45] 50Wliu commented on #219
This is a duplicate of #148 - feel free to subscribe there for updates.

[2016-05-26 13:45] #219 closed

[2016-05-26 13:48] davesnx commented on #148
Thanks @50Wliu, and sorry :(

[2016-05-27 07:23] gidway opened #220 "Uncaught Error: ENOENT: no such file or directory, realpath 'atom://.atom/config'"
1. install atom from (unofficial)arch/repo
2. run atom from command line /usr/bin/atom

**Atom Version**: 1.7.4
**System**: linux 4.5.4-1-ARCH
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, realpath 'atom://.atom/config'

[code]

### Commands

[code]

### Config

[code]

### Installed Packag

[2016-05-30 07:14] gidway commented on #220
The problem was after I installed atom(v.1.7.4) from repo Arch Linux
Today atom has been updated to version 1.7.4-2, and has been running correctly.
Verry quick reaction on bugreport :) Thx

[2016-05-30 07:14] #220 closed

[2016-06-02 09:29] jacquescrocker commented on #148
+1, this would be insanely useful

[2016-06-02 15:55] isuraed opened #221 "Very slow indexing when using Cryptomator network mounted folder (Windows 10)"
### Description
https://cryptomator.org/ is a client side encryption software. When atom opens a mounted cryptomator vault (which is mapped to a network drive locally) it tries to index the hidden folders (named "." and ".."). This indexing never stops since atom is trying to index the hidden folders that contain the cryptomator metadata. This occurs on Windows 10 Pro. The issue is not present on

[2016-06-03 05:12] aeosynth commented on #171
defaults works fine for me on arch linux

[2016-06-03 13:14] 50Wliu commented on #171
@dsifford Can you still reproduce this on Atom 1.7.4 in safe mode (`atom --safe`)?

[2016-06-03 15:54] dsifford commented on #171
Can't reproduce this anymore. Must have been fixed in some previous version (or, more realistically, some weird glitch when I first posted this issue).

[2016-06-03 15:54] #171 closed

[2016-06-04 14:07] sagarpanchal commented on #216
@lee-dohm output of `tree /var/www/html/data/`
[code]

[2016-06-04 14:13] sagarpanchal commented on #216
[code]

[2016-06-04 15:20] sagarpanchal commented on #216
@lee-dohm
I tested the copy of `/var/www/html/data` and found a **symbolic link to (parent directory)** `/var/www/html/` that must be causing the issue.
I deleted the symbolic link to parent directory and relaunched atom and everything worked fine.

[2016-06-06 20:27] adamhutch commented on #5
+1

[2016-06-07 16:32] lee-dohm commented on #216
Ah, thank you @sagarpanchal. I'm pretty sure this is a dupe then of another Issue. I'll track it down tomorrow.

[2016-06-08 14:25] defbyte opened #222 "Existing file not found"
This is a pretty strange one, I have a file named `ability.rb` in my project, an Atom's fuzzy finder does not find this file when using ⌘+T

I have never had problems with any other files or filenames, so was wondering if this was perhaps some strange edge case.

I'm running the latest version of Atom 1.8.0 (at the time of writing).

Please disregard the "wut" in the screen shot 😕

![](https://www

[2016-06-08 15:26] dannguyen commented on #88
Can confirm this indexing behavior for:

- Atom 1.8.0
- OS X 10.11.5

Even more problematic is that it seems to be indexing explicitly ignored folders, such as `node_modules`...hence, the fuzzyfinder is never able to index even a small sized nodejs project. On projects with fewer files, the indexing happens more-or-less instantaneously.

[2016-06-08 18:20] defbyte commented on #222
the problem was the project hadn't reindexed lately.

[2016-06-08 18:20] #222 closed

[2016-06-09 11:53] frenchbread commented on #205
Facing this issue not only in `Atom-beta` but in `Atom` as well

[2016-06-09 17:35] lee-dohm commented on #216
This is a duplicate of https://github.com/atom/atom/issues/10286. You may want to subscribe there for updates.

[2016-06-09 17:35] #216 closed

[2016-06-12 19:44] asbjornu opened #223 "Uncaught TypeError: this.childProcess.send is not a function"
I think this occurred when I checked for plugin updates.

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught TypeError: this.childProcess.send is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-13 21:07] Wulf commented on #89
For any others having this issue: restarting atom worked for me.

[2016-06-14 04:39] catsky commented on #30
+1 on v1.7.4

[2016-06-14 14:03] damienstanton commented on #205
I am also having this issue. These errors are being thrown in the console:
[code]
and
[code]
This only occurs on the second or more project opened. It is also happening in safe mode.

[2016-06-14 19:01] tienduccao commented on #148
+1, this is the exact feature I'm looking for

[2016-06-15 16:38] schwaz80 commented on #191
Just received this same error and I'm on 1.8
`[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.3
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-16 17:31] dolan commented on #77
I'm still seeing this happen now in plugin version 1.0.5 on Atom v1.8.0, I can't function without Ctrl+P, so I'll have to go back to vim.  I thought that the latest update would fix this.  #207 doesn't appear to have done anything, and I'm not in a symlinked directory.

[2016-06-16 17:51] 50Wliu commented on #77
#207 has not yet been released yet.  You can install Atom 1.9.0-beta0 though which should contain the fix.

[2016-06-16 18:07] dolan commented on #77
Thanks for clarifying. I removed my other comment so I don't confuse anyone.

[2016-06-17 15:32] jparkerweb commented on #195
same here, starting via git-bash causes the issue.  opening from file context menu works just fine (windows obviously)

[2016-06-18 01:12] rahatarmanahmed commented on #205
I'm able to reproduce it in Atom 1.8.0 with this:

[code]

[2016-06-18 02:07] 50Wliu commented on #195
Can someone please try copying the files [here](https://github.com/atom/atom/tree/master/resources/win) into (I believe the location is) `%localappdata%\atom\bin` and see if the problem is resolved?

@xcjs Just curious...can you paste the output of `systeminfo` here?  Thanks.

[2016-06-19 20:28] rahatarmanahmed commented on #205
The issue seems to be caused because the `NODE_PATH` environment variable is unset when adding a new project folder, which causes fuzzy-finder's indexing task to not be able to find the `'atom'` module.

[2016-06-20 03:12] anotheredward commented on #5
+1

[2016-06-20 12:51] rossburton commented on #65
I'm still hitting this.  It appears that libgit2 was fixed so the tree view shows files in negated directories, but I still can't open them using fuzzy-finder.

[2016-06-21 20:03] surajreddy commented on #30
This is happening to me as well. My fuzzy search does not update with newly added files, even if they are added and saved with Atom. Version: 1.8.0

[2016-06-22 15:33] petereast opened #224 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\peter\AppData\Local\atom\app-1..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Microsoft Windows 10 Home Single Language
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\peter\AppData\Local\atom\app-1.8.0\atom:'

[code]

### Commands

[code]

### Config

[code]

### Inst

[2016-06-22 17:06] isiahmeadows commented on #65
I'm still hitting this, too.

[2016-06-24 16:33] jacobgraf commented on #205
I am also experiencing this issue in 1.8.0. Very frustrating for sure. Hopefully it gets squashed soon!

[2016-06-24 17:23] damienstanton commented on #205
FWIW opening a project with `cmd + shift + O` doesn't seem to internally call `atom -a` so this can be used as a temporary workaround.

[2016-06-25 12:05] dabou commented on #5
:+1:

[2016-06-25 12:20] dabou commented on #54
I think this PR  [Add short text overview for untitled file #11962](https://github.com/atom/atom/pull/11962#issuecomment-225401648) is the first step of this feature.

[2016-06-26 10:59] KuSh commented on #224
Hi,

Same error here, steps to reproduce:

1. Hit CTRL-SHIFT T (I thought I was on firefox), while reading the readme of an uninstalled package (atom-maven) in the settings panel

**Atom Version**: 1.8.0
**System**: linux 4.6.0-1-amd64
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/h

[2016-06-28 07:45] stamceidas opened #225 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/stamceidas/atom:'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Ubuntu 16.04
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/stamceidas/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-28 23:47] tomtranc commented on #14
+1

[2016-06-30 03:20] Postem1 opened #226 "Indexing Project..0"
Whenever I start the Fuzzy Finder, it gives a screen stating:  Indexing project..0.

How do I get it to work properly?

[2016-06-30 07:51] sachingharge opened #227 "Uncaught Error: spawn E2BIG"
Steps to reproduce:
I got this error when Atom is open after system started.
Please let me know if you need any more information.

-------------------------------------------------------------------------------------------------------------------------------

**Atom Version**: 1.8.0
**System**: Unknown OS X version
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0

[2016-06-30 11:51] spekulatif opened #228 "Uncaught Error: ENOENT: no such file or directory, lstat '/Users/ufuk/Desktop/experimental/instag..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.10.5
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/ufuk/Desktop/experimental/instagram-hackhands'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-30 19:30] rajinwonderland opened #229 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/rajinwonderland/Documents/novvum-..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Ubuntu 16.04
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/rajinwonderland/Documents/novvum-site/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-01 21:09] nickmealey commented on #126
+1
This is something I'm very used to coming from TextMate.

[2016-07-03 04:31] cabloo commented on #70
I would like this feature as well, but would also be content with ctrl-clicking on files in the fuzzy finder to open them in the background, as long as it keeps the fuzzy finder open.

[2016-07-03 14:00] turigeza commented on #109
Much needed feature. I really rarely need to search across projects and almost always search within a project. so please 👍

For now I give  https://github.com/mehcode/atom-project-plus a go

[2016-07-04 23:05] SeokKi opened #230 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Administrator\AppData\Local\at..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Unknown Windows Version
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\Administrator\AppData\Local\atom\app-1.8.0\atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Pack

[2016-07-06 16:51] kiuma opened #231 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/kiuma/atom:'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: "Gentoo Base
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/kiuma/atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-06 22:09] wotf opened #232 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\vbargl\AppData\Local\atom\app-..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Microsoft Windows 10 Home
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\vbargl\AppData\Local\atom\app-1.8.0\atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2016-07-06 23:20] tara-marchand opened #233 "Uncaught Error: ENOENT: no such file or directory, lstat '/nuclide:'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/nuclide:'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-07 07:27] Ben3eeE commented on #226
https://github.com/atom/fuzzy-finder/issues/205?

[2016-07-07 11:19] MattDiMu opened #234 "Renaming Folder breaks the index"
After renaming a folder, the files in this renamed folder are no longer found by the fuzzy-finder. Neither by typing the folders name nor by typing the filename itself.

Edit: A Restart of Atom (causing a full re-indexing) fixes the issue.

[2016-07-07 13:33] octoxan opened #235 "Doesn't work at all. Cannot find module 'atom'"
The console throws this error whenever I open up Atom:

`Cannot find module 'atom' Error: Cannot find module 'atom'`
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonymous> (C:\Users\xander\AppData\Local\atom\app-1.8.0\resources\app.asar\node_modul

[2016-07-11 23:27] adambuczynski commented on #70
+1 this would be great to have and save me a lot of time.

[2016-07-12 18:54] morhook commented on #30
You can press CTRL-ALT-R (On PC), or for MacOSX it might be CTRL-ALT-CMD-I

[2016-07-12 19:27] sunnyvempati commented on #226
+1

[2016-07-14 04:17] htko89 opened #238 "Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\htko8\AppData\Local\atom\app-1..."
I pressed ctrl+t, after refreshing atom with ctrl+alt+r

**Atom Version**: 1.8.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat 'C:\Users\htko8\AppData\Local\atom\app-1.8.0\atom:'

[code]

### Commands

[code]

### Config

[code]

### Installed Pack

[2016-07-14 13:01] vtambourine commented on #233
This problem break fuzzy search on remote project.

[2016-07-15 00:46] 50Wliu commented on #233
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] 50Wliu commented on #238
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #238 closed

[2016-07-15 00:47] 50Wliu commented on #232
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #232 closed

[2016-07-15 00:47] 50Wliu commented on #231
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #231 closed

[2016-07-15 00:47] 50Wliu commented on #230
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #230 closed

[2016-07-15 00:47] 50Wliu commented on #229
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #229 closed

[2016-07-15 00:47] 50Wliu commented on #228
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #228 closed

[2016-07-15 00:47] 50Wliu commented on #225
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #225 closed

[2016-07-15 00:47] 50Wliu commented on #224
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:47] #224 closed

[2016-07-15 00:48] 50Wliu commented on #226
Closing as a duplicate of #205 - feel free to subscribe there for updates.

[2016-07-15 00:48] #226 closed

[2016-07-15 00:49] 50Wliu commented on #235
Closing as a duplicate of #205 - feel free to subscribe there for updates.

[2016-07-15 00:49] #235 closed

[2016-07-15 00:49] 50Wliu commented on #202
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:49] #202 closed

[2016-07-15 00:49] 50Wliu commented on #203
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-15 00:49] #203 closed

[2016-07-15 00:51] 50Wliu commented on #234
Similar enough to #30 that I'm going to close this issue in favor of that one.

[2016-07-15 00:51] #234 closed

[2016-07-15 00:52] 50Wliu commented on #175
Similar enough to #30 that I'm going to close this issue in favor of that one.

[2016-07-15 00:52] #175 closed

[2016-07-15 00:52] 50Wliu commented on #170
Similar enough to #30 that I'm going to close this issue in favor of that one.

[2016-07-15 00:52] #170 closed

[2016-07-15 10:40] vtambourine commented on #233
I am experiencing the same problem at Atom 1.9.0-beta0.

[2016-07-15 10:42] 50Wliu commented on #233
@vtambourine Ok, thanks for reporting back.  Does the issue still occur in safe mode (`atom --safe`)?

[2016-07-15 11:35] vtambourine commented on #233
@50Wliu no, in safe mode no error of that kind. Error is occurring only if I connected to the remote host via Nuclide package.

[2016-07-15 11:40] 50Wliu commented on #233
@vtambourine Can you also report this to Nuclide?  I'm not sure who's at fault here, so I'm going to reopen this issue in the meantime.

[2016-07-15 17:20] johnislarry commented on #233
In Nuclide, when there are remote projects, the paths of those projects are actually URIs.  An example of two projects (one local one remote) below:

[code]

My guess is that fuzzy-finder is making the assumption that these will just be normal OS paths, and there's some parsing trouble due to that

[2016-07-15 17:37] johnislarry commented on #233
It looks like maybe here

https://github.com/atom/fuzzy-finder/blob/master/lib/path-loader.coffee#L12

there should be a filter on the `atom.project.getPaths()` array with some validation function that would exclude these URI-style paths.

[2016-07-15 18:15] 50Wliu commented on #233
Thanks for the info @johnislarry.

[2016-07-16 07:47] baash05 opened #239 "Uncaught Error: ENOENT: no such file or directory, lstat '/home/dave/Documents/contracts/Server'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Ubuntu 16.04
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/home/dave/Documents/contracts/Server'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-16 10:50] 50Wliu commented on #239
This should be fixed in Atom 1.9.0-beta0 and above.

[2016-07-16 10:50] #239 closed

[2016-07-18 16:22] papajo opened #240 "Uncaught Error: ENOENT: no such file or directory, lstat '/Users/PJoshi/Documents/Projects/websit..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [fuzzy-finder](https://github.com/atom/fuzzy-finder) package, v1.0.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/PJoshi/Documents/Projects/website-sample1'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]